.technology__auto
    @media (max-width: 920px)
        .page__bar
            .page__bar_item-r
                justify-content: flex-start
                padding: 0 20px

.technology__qh .technology__explorer_wrapper
    @media (max-width: 920px)
        padding: 0 10px 60px
    @media (max-width: 480px)
        padding: 0 10px 320px

.technology__qh .technology__auto_wrapper
    @media (max-width: 920px)
        flex-wrap: wrap
        padding: 20px 10px 50px

.technology__qh .technology__auto_item:first-child
    @media (max-width: 920px)
        max-width: none

.technology__qh .title__dg-rd-w
    @media (max-width: 920px)
        max-width: none
        font-size: 40px

.technology__auto_item
    @media (max-width: 920px)
        left: 130px
        margin-bottom: 30px
        &:last-child
            margin-bottom: 0

.technology__qh .technology__explorer_robot--1
    @media (max-width: 920px)
        position: relative
        top: 0
        margin: 20px 0 0 0
        width: 100%
        height: auto
        img
            position: absolute
            left: 10%
        .technology__robot_desc--icon
            background: $white
            min-width: 35px
            min-height: 35px
            &:before
                color: $red
    @media (max-width: 480px)
        img
            width: 420px
            left: 50%
            top: 420px
            transform: translateX(-50%)

.title__w-r
    @media (max-width: 920px)
        max-width: none
        font-size: 40px

.technology__qh .technology__explorer_text
    @media (max-width: 920px)
        max-width: none

.technology__qh .technology__robot_desc
    @media (max-width: 920px)
        position: relative
        top: auto !important
        left: auto !important
        right: auto !important

.technology__qh .technology__robot_desc--reserv
    @media (max-width: 920px)
        flex-direction: row
        text-align: left

.technology__qh .technology__robot_desc--reserv .technology__robot_desc--icon
    @media (max-width: 920px)
        margin: 10px 15px 0 0


.technology__qh .technology__possible_wrapper
    @media (max-width: 920px)
        padding: 30px 10px 50px

.technology__qh .technology__possible_items
    @media (max-width: 920px)
        margin-top: 20px

.technology__qh .technology__possible_item--title
    @media (max-width: 620px)
        font-size: 18px
        &:before
            content: ''
            width: 8px
            height: 8px
            background-color: $red
            border-radius: 50%
            box-shadow: 0 0 0 6px rgba($red, 0.21)
            margin-left: 6px
            margin-right: 15px

.technology__qh .technology__possible_item--info
    @media (max-width: 620px)
        padding: 10px 10px 10px 30px


.technology__robot_desc--text
    @media (max-width: 480px)
        max-width: none
