.news__date_wrapper
  @media (max-width: 920px)
    padding: 0

.news__page_wrapper
  @media (max-width: 1170px)
    .index__news_items
      width: 100%
      margin: 45px -15px 30px
  @media (max-width: 920px)
    padding: 0 10px
    .index__news_items
      margin: 0 -15px 0
    .awards__pg
      margin: 20px auto 65px

.news__page_wrapper .index__news_items .index__news_item
  @media (max-width: 920px)
    margin: 0
  @media (max-width: 860px)
    margin-bottom: 10px

.news__page_wrapper .index__news_item
  @media (max-width: 860px)
    width: 50%
    padding: 0 5px
    margin-bottom: 10px
  @media (max-width: 640px)
    width: 100%

.news__page_wrapper .awards__date_title
  @media (max-width: 420px)
    &:before
      font-size: 12px
