.page__follow
    .page__follow_wrapper.wrapper
        .title__w-r
            |<span>Follow Us</span><br><span>on Social</span>
        .page__follow_links
            a.page__follow_link.page__follow_link--f href="https://www.facebook.com/qualysensesorters"
                |Facebook
            a.page__follow_link.page__follow_link--t href="https://twitter.com/QualySense"
                |Twitter
            a.page__follow_link.page__follow_link--l href="https://www.linkedin.com/company/qualysense-ag/"
                |Linkedin