.work__main
    .work__main_wrapper.wrapper
        .work__main_desc
            .page__subtitle
                |Who we are
            .title__dg-g
                |<span>We commit to bringing </span><br><span>excellence in grain, </span><br><span>seed and bean sorting</span>
            .page__text
                |Our advanced sorting technologies unlock the potential of our world's limited resources to ensure healthy, sustainable and happy lives for everyone <br><br>At QualySense, we foster a culture that encourages innovative thinking and creative solutions. We are bold, resourceful and believe in challenging the status-quo. We value trust, honesty and respect and we believe we can achieve success by being a team and by focusing on activities that have a positive impact on us, on our customers and on the world on its own. <br><br>We like having fun, at work and outside of work and we definitely take advantage of the variety of nationalities we have on board - 15 to be counted. <br><br>We're constantly looking for new talents. Are you the entrepreneurial type? Are you enthusiastic about the QSorter technology? Are you innovative, creative and always willing to learn something new? <br><br>If you've answered YES to all these questions, then you might be the person we're looking for. If you read so far, we might be the right company for you.
            .about__commit_contacts
                .about__commit_contact
                    a.about__commit_contact--link href="sales@qualysense.com"
                        |sales@qualysense.com
                    .about__commit_contact--text.about__commit_contact--text-email
                        |Email address
                .about__commit_contact
                    a.about__commit_contact--link href="sales@qualysense.com"
                        |+41 (0) 44 824 35 84
                    .about__commit_contact--text.about__commit_contact--text-phone
                        |Phone number
        .work__main_img
            img src="img/work__main_img.png"

    .page__bar.page__bar_red.page__bar_reserv
        .page__bar_item-l
        .page__bar_item-r
            .page__bar_item-r--content
                .page__bar_item-r--content__subtitle
                    |Customized Solutions