.index__contactus.work__contactus
    .index__contactus_wrapper.wrapper
        .title.title__white
            .title__line.title__line_1
                |Would You Like Us to Design
            .title__line.title__line_1
                |Your Customized Inspection
            .title__line.title__line_1
                |or Processing Solution
        a.q__btn.q__btn_contact href="contact.html"
            |Contact Us
        img class="index__contactus_img--1" src="img/contactus__img.png"
        img class="index__contactus_img--2" src="img/contactus__img.png"
    
    .page__bar.page__bar_grey
        .page__bar_item-l
        .page__bar_item-r
            .page__bar_item-r--content
                .page__bar_item-r--content__subtitle
                    |Customized Solutions

