.index__circle

    .page__bar.page__bar_white.page__bar_reserv
        .page__bar_item-l
        .page__bar_item-r
            .page__bar_item-r--content
                .page__bar_item-r--content__subtitle
                    |News and events
        
    .index__circle_wrapper.wrapper
        .index__circle_inner
            .index__circle_item.index__circle_item--1 data-item="1"
                / img src="img/circle/01a_bg_solution.svg"
            .index__circle_item.index__circle_item--2.index__circle_main--item-act data-item="2"
                .index__circle_item--info
                    .index__circle_item--title
                        |QSorter Explorer
                    .index__circle_item--desc
                        |I have always wanted to work with creative, dynamic and relaxed people. At QualySense, I have found all that and even more. The best thing is that I can put my ideas into action and learn something new every day.
                    a.index__circle_item--link href="#"
                        |About QSorter Explorer 
                / img src="img/circle/01a_bg_solution.svg"
            .index__circle_item.index__circle_item--3 data-item="3"
                / img src="img/circle/01a_bg_solution.svg"
            .index__circle_item.index__circle_item--4 data-item="4"
                / img src="img/circle/01a_bg_solution.svg"
            .index__circle_main
                img.index__circle_main--logo src="img/01b_logotype.svg"
                .index__circle_main--item.index__circle_main--item-1. data-item="1"
                    .index__circle_main--item-desc
                        |Discover the Product Portfolio
                    .index__circle_main--item-desc-inner
                        .index__circle_item--title
                            |QSorter Explorer
                        .index__circle_item--desc
                            |I have always wanted to work with creative, dynamic and relaxed people. At QualySense, I have found all that and even more. The best thing is that I can put my ideas into action and learn something new every day.
                        a.index__circle_item--link href="#"
                            |About QSorter Explorer
                    img src="img/circle/03a_bg_solutios.svg"
                    img class="circle__act_red" src="img/circle/04b_bg_solutios.svg"
                    img class="circle__act_white" src="img/circle/05a_bg_solution.svg"
                .index__circle_main--item.index__circle_main--item-2.index__circle_main--item-act data-item="2"
                    .index__circle_main--item-desc
                        |Discover the Product Portfolio
                    .index__circle_main--item-desc-inner
                        .index__circle_item--title
                            |QSorter Explorer
                        .index__circle_item--desc
                            |I have always wanted to work with creative, dynamic and relaxed people. At QualySense, I have found all that and even more. The best thing is that I can put my ideas into action and learn something new every day.
                        a.index__circle_item--link href="#"
                            |About QSorter Explorer
                    img src="img/circle/03_bg_solutios.svg"        
                    img class="circle__act_red" src="img/circle/04c_bg_solutios.svg"  
                    img class="circle__act_white" src="img/circle/05_bg_solution.svg"      
                .index__circle_main--item.index__circle_main--item-3 data-item="3"
                    .index__circle_main--item-desc
                        |Discover the Product Portfolio
                    .index__circle_main--item-desc-inner
                        .index__circle_item--title
                            |QSorter Explorer
                        .index__circle_item--desc
                            |I have always wanted to work with creative, dynamic and relaxed people. At QualySense, I have found all that and even more. The best thing is that I can put my ideas into action and learn something new every day.
                        a.index__circle_item--link href="#"
                            |About QSorter Explorer
                    img src="img/circle/03b_bg_solutios.svg"
                    img class="circle__act_red" src="img/circle/04a_bg_solutios.svg"
                    img class="circle__act_white" src="img/circle/05b_bg_solution.svg"
                .index__circle_main--item.index__circle_main--item-4 data-item="4"
                    .index__circle_main--item-desc
                        |Discover the Product Portfolio
                    .index__circle_main--item-desc-inner
                        .index__circle_item--title
                            |QSorter Explorer
                        .index__circle_item--desc
                            |I have always wanted to work with creative, dynamic and relaxed people. At QualySense, I have found all that and even more. The best thing is that I can put my ideas into action and learn something new every day.
                        a.index__circle_item--link href="#"
                            |About QSorter Explorer
                    img src="img/circle/03c_bg_solutios.svg"
                    img class="circle__act_red" src="img/circle/04_bg_solutios.svg"
                    img class="circle__act_white" src="img/circle/05c_bg_solution.svg"

    .page__bar.page__bar_red
        .page__bar_item-l
        .page__bar_item-r
            .page__bar_item-r--content
                .page__bar_item-r--content__subtitle
                    |Customized Solutions
