.index__farm
    .index__farm_wrapper.wrapper
        .title.title__news
            |From Farm to Fork
        .index__farm_item.index__farm_item--1
            img.index__farm_arrow src="img/index__farm_arrow.png"
            .index__farm_item--number
                |01
            .index__farm_item--subtitle
                |Input Companies
            .index__farm_item--img
                img src="img/01_fork.svg"
        .index__farm_item.index__farm_item--2
            img.index__farm_arrow src="img/index__farm_arrow.png"
            .index__farm_item--number
                |02
            .index__farm_item--subtitle
                |Input Companies
            .index__farm_item--img
                img src="img/01_fork.svg"
        .index__farm_item.index__farm_item--3
            img.index__farm_arrow src="img/index__farm_arrow.png"
            .index__farm_item--number
                |03
            .index__farm_item--subtitle
                |Input Companies
            .index__farm_item--img
                img src="img/01_fork.svg"
        .index__farm_item.index__farm_item--4
            img.index__farm_arrow src="img/index__farm_arrow.png"
            .index__farm_item--number
                |04
            .index__farm_item--subtitle
                |Input Companies
            .index__farm_item--img
                img src="img/01_fork.svg"
        .index__farm_item.index__farm_item--5
            img.index__farm_arrow src="img/index__farm_arrow.png"
            .index__farm_item--number
                |05
            .index__farm_item--subtitle
                |Input Companies
            .index__farm_item--img
                img src="img/01_fork.svg"
        .index__farm_item.index__farm_item--6
            .index__farm_item--number
                |06
            .index__farm_item--subtitle
                |Input Companies
            .index__farm_item--img
                img src="img/01_fork.svg"

    .page__bar.page__bar_white
        .page__bar_item-l
        .page__bar_item-r
            .page__bar_item-r--content
                .page__bar_item-r--content__subtitle
                    |Customized Solutions