.index__form

    .page__bar.page__bar_grey.page__bar_reserv
        .page__bar_item-l
        .page__bar_item-r
            .page__bar_item-r--content
                .page__bar_item-r--content__subtitle
                    |Partners

    .index__form_wrapper.wrapper
        .index__from_wrapper--container
            form.index__form_inner
                .title.title__span_red
                    |Contact Form
                .input__wrapper
                    .input__wrapper_title
                        |First name
                    input.input__container name="name" placeholder="First name*"
                .input__wrapper
                    .input__wrapper_title
                        |Last name
                    input.input__container name="lastname" placeholder="Last name*"
                .input__wrapper
                    .input__wrapper_title
                        |Your phone number
                    input.input__container.input__container_phone name="phone" placeholder="Your phone number*"
                .input__wrapper
                    .input__wrapper_title
                        |Your email
                    input.input__container name="email" placeholder="Your email*"
                .input__wrapper
                    .input__wrapper_title   
                        |Message 
                    textarea.input__container_textarea placeholder="Your message*"
                .input__submit
                    input type="submit" value="Send Message"
                a.input__recall href="tel:+410448243584"
                    |Call to Us

            .index_form_table
                img.index__form_table--bg src="img/form__table_img--1.png"
                .index__form_table--title
                    |Existing Partners
                .index__form_table--desc
                    |Be customer centric and build an organization of committed and capable people. Be recognized in society for our expertise in innovation and exploration of natural resources
                .index__form_table_items
                    .index__form_table_item
                        img src="img/form__table_item.png"
                    .index__form_table_item
                        img src="img/form__table_item.png"
                    .index__form_table_item
                        img src="img/form__table_item.png"
                    .index__form_table_item
                        img src="img/form__table_item.png"
                    .index__form_table_item
                        img src="img/form__table_item.png"
                    .index__form_table_item
                        img src="img/form__table_item.png"
                    