.index__solv
    .index__solv_wrapper.wrapper
        .index__solv_item
            .title.title__white
                .title__line.title__line_1
                    |What
                .title__line.title__line_1
                    |Problems We
                .title__line.title__line_1
                    |Are Solving
            .index__solv_desc
                |Inspire people to explore the true value of natural resources
        .index__solv_circles
            .index__solv_circle.index__solv_sircle--1
                .index__solc_circle--icon
                    img src="img/solv__circle_img.png"
                .index__solc_circle--desc
                    |Multidisciplinary team
            .index__solv_circle.index__solv_circle--act
                .index__solc_circle--icon 
                    img src="img/solv__circle_img.png"
                .index__solc_circle--desc
                    |Multidisciplinary team
            .index__solv_circle.index__solv_sircle--2
                .index__solc_circle--icon 
                    img src="img/solv__circle_img.png"
                .index__solc_circle--desc
                    |Multidisciplinary team
        .index__solv_item
            .index__solv_table data-table="1"
                .index__solv_table--number
                    |01
                .index__solv_table--title
                    |High Tech
            .index__solv_table data-table="2"
                .index__solv_table--number
                    |02
                .index__solv_table--title
                    |Nature
            .index__solv_table data-table="3"
                .index__solv_table--number
                    |03
                .index__solv_table--title
                    |Expertise
        
 

