.index__video
    .index__video_wrapper.wrapper
        img.index__video_icon--1 src="img/index__video_icon.png"
        img.index__video_icon--2 src="img/index__video_icon.png"
        .index__video_desc
            .index__video_desc--subtitle
                |About us
            .title.index__video_desc--title.title__red
                |QualySense
            .index__video_desc--text
                |QualySense has pioneered high-speed single kernel technologies since 2009 and it is proud to offer the QSorter, the life science single kernel robot for high-speed accurate analysis and sorting of grains, seeds, and beans. The proprietary and state-of-the-art technology of the QSorter Explorer is the successful outcome of a long collaboration between QualySense and leading academic institutions such as the United States Department of Agriculture (USDA), the Swiss Breeding Research Institute (AGROSCOPE), and EMPA, the Swiss Research Institute for Material Research.
            a.q__btn.index__video_desc--link.q__btn-r-w href="about.html"
                |More About Us
        .index__video_video
            img.index__video_poster src="img/index__video_poster.png"
            .index__home_video--inner
                .index__home_video--inner-icon
    
        