.contacts__item_container--title
  @media (max-width: 920px)
    font-size: 18px

.about__commit_contact
  @media (max-width: 920px)
    position: relative
    margin: 15px 0 !important
    width: 100%
    &:before
      content: ''
      height: 1px
      width: 45px
      background-color: #cccfd2
      position: absolute
      bottom: -15px
      left: 0
    &:last-child
      &:before
        display: none
    &--link
      font-size: 20px

.contact__form_wrapper
  @media (max-width: 1070px)
    padding: 0 10px

.contact__form_innder--container
  @media (max-width: 920px)
    height: 670px
    .index__form_inner
      padding: 20px 20px 0
      margin: 0
  @media (max-width: 720px)
    height: auto
    flex-wrap: wrap
    flex-direction: column-reverse
    .index__form_inner
      width: 100%
      padding: 30px 20px
    .contact__form_innder--map
      width: 100%
      height: 205px

.contact__form
  @media (max-width: 920px)
    padding-bottom: 10px

.contacts
  @media (max-width: 920px)
    margin: 40px -35px
  @media (max-width: 640px)
    flex-wrap: wrap
    margin: 20px 0 40px
    .contacts__item
      width: 100%
      margin: 20px 0
