.about
    .page__head_products
        background-image: url('img/about__header_bg.png')

.about__commit
    background-image: url('img/transparent__bg_red--lines.png')
    background-size: cover
    background-repeat: no-repeat

.about__commit_wrapper
    padding: 130px 10px 170px
    position: relative
    z-index: 1
    display: flex
    justify-content: space-between
    align-items: center
    .page__subtitle
        margin-bottom: 20px
    .page__text
        margin-top: 30px
        & p
            margin: 0 0 30px
            &:last-child
                margin: 0

.page__text
    font-family: $proximaNova
    font-weight: 400
    color: #727b82
    font-size: 16px
    line-height: 1.687

.about__commit_desc
    width: 500px

.about__commit_contacts
    display: flex
    justify-content: space-between
    width: 100%
    margin: 75px 0px 0px

.about__commit_contact
    &--separator
        width: 2px
        min-height: 100%
        background-color: #d9dcde
        margin: 0 10px

.about__commit_contact--link
    font-family: $sofiaPro
    font-weight: 300
    color: $red
    font-size: 18px
    margin-bottom: 5px
    display: flex

.about__commit_contact--text
    text-transform: uppercase
    color: #b9bdc0
    font-size: 12px
    font-weight: 400
    font-family: $proximaNova
    display: flex
    align-items: center
    &:before
        margin-right: 5px

.about__commit_contact--text-email
    &:before
        font-size: 9px

.about__commit_contact--text-phone
    &:before
        font-size: 9px

.about__img
    position: absolute
    z-index: -1
    right: 0px
    height: 565px
    img
        height: 100%
        width: auto
