.about__video_wrapper
    padding: 85px 0px 125px 70px
    display: flex
    justify-content: space-between
    align-items: center

.about__video
    background-image: url('img/news__bg.png')
    background-size: cover
    background-repeat: no-repeat

.about__video_desc
    width: 400px
    .page__text
        margin-top: 20px

.about__video_container
    width: 580px
    height: 490px
    box-shadow: 45.559px 58.313px 77.28px 6.72px rgba(1, 1, 1, 0.12)
    display: flex
    align-items: center
    justify-content: center
    background-image: url('img/about__video_container--bg.png')
    background-size: cover

.about__video_container--btn
    width: 85px
    height: 85px
    border: solid 1px $light-grey
    border-radius: 50%
    justify-content: center
    cursor: pointer
    display: flex 
    align-items: center

.about__video_container--btn-inner
    width: 78px
    height: 78px
    border-radius: 50%
    background: $white
    display: flex
    align-items: center
    justify-content: center
    &:before
        color: $red
        width: 24px
        height: 24px
        font-size: 23px