.about__food
    background: #f4f4f5
    .title__dg-rd-w 
        margin-top: 20px
    .page__text
        margin-top: 20px
    .title__dg-g
        margin-top: 20px

.about__food_wrapper
    position: relative
    z-index: 1
    padding: 130px 0px 135px
    display: flex
    align-items: center
    justify-content: flex-end
    .q__btn
        box-shadow: 0px 34px 42.24px 1.76px rgba(1, 1, 1, 0.12)
        margin-top: 40px
    .about__food_desc
        max-width: 500px
        width: 100%

.food_img
    position: absolute
    left: 0px
    z-index: -1
    height: 650px
    img
        height: 100%
        width: auto