.about__timeline_wrapper
    padding: 95px 0 170px
    .title__w-r
        z-index: 3
        position: relative

.about__timeline
    background: #d21e18
    position: relative
    overflow: hidden
    .page__bar_item-l
        height: 100%
        background: #f4f4f5
        position: relative
        z-index: 2
    .page__bar_item-r--content
        position: relative
        z-index: 2

.timeline
    display: flex
    margin-top: 90px
    position: relative
    height: 320px
    align-items: center
    &:before
        content: ''
        display: block
        width: 100%
        left: -100%
        height: 1px
        background: $white-rgba
        position: absolute
    &:after
        content: ''
        display: block
        width: 100%
        right: -100%
        height: 1px
        background: $white-rgba
        position: absolute

.timeline__item
    width: 20%
    display: flex
    height: 100%
    align-items: center
    position: relative
    &:last-child
        .timeline__item_box
            &:last-child
                &:after
                    content: ''
                    display: block
                    width: 7px
                    height: 7px
                    border-radius: 50%
                    background: $white
                    position: absolute
                    right: 0px
    &:hover
        .timeline__border_act
            background: #e4342e
            transition: .5s ease all
        .timeline__table_top
            top: -20px
            transition: 1s ease all
            box-shadow: 45.559px 58.313px 77.28px 6.72px rgba(1, 1, 1, 0.21)
        .timeline__table_bottom
            bottom: -20px
            transition: 1s ease all
            box-shadow: 45.559px 58.313px 77.28px 6.72px rgba(1, 1, 1, 0.21)
            

.timeline__item_box
    width: 50%
    height: 1px
    z-index: 1
    background: $white
    display: flex
    transition: .5s ease all
    align-items: center
    position: relative
    &:before
        content: ''
        display: block
        width: 7px
        height: 7px
        border-radius: 50%
        background: $white
        position: absolute

.timeline__item_box--date
    display: block
    font-size: 26px
    font-family: $sofiaPro
    font-weight: 600
    color: $white
    top: -25px
    left: 10px
    position:  absolute

.timeline__border
    height: 1200px
    z-index: -1
    width: 100%
    border-left: solid 1px $white-rgba
    position: absolute
    left: 3px

.timeline__table
    position: absolute
    left: 0px
    width: 255px
    height: 105px
    z-index: 2
    background: #f4f4f4
    transition: .5s ease all
    padding: 25px 20px 10px 25px
    &_top
        top: 0px
    &_bottom
        bottom: 0px

.timeline__table_img
    margin-bottom: 10px

.timeline__table_desc
    font-family: $proximaNova
    font-size: 16px
    color: #5e5e5c
    font-weight: 400
