.article
    .page__head_products
        background-image: url(img/news__header_bg.png)

.article__page_wrapper
    padding: 50px 0px 100px
    max-width: 870px

.article__page_date
    color: $red
    font-family: $proximaNova
    font-size: 14px
    font-weight: 400
    display: flex 
    align-items: center
    margin: 15px 0px
    &:before
        color: $red
        margin-right: 5px

.article__page_thumbnail
    width: 100%
    height: 400px
    display: flex
    align-items: center
    position: relative
    overflow: hidden
    box-shadow: 45.559px 58.313px 77.28px 6.72px rgba(1, 1, 1, 0.12)
    margin-bottom: 20px
    img
        position: absolute
        width: 100%
        height: auto