.events__page_wrapper
  @media (max-width: 920px)
    padding: 0 10px
    .awards__pg
      margin: 20px auto 65px

.events__date_titles
  @media (max-width: 920px)
    .awards__date_title
      padding: 0 5px
  @media (max-width: 640px)
    .awards__date_title
      width: auto

.awards__date_title
  @media (max-width: 920px)
    &:before
      float: left
      margin-right: 5px

.events__page
  @media (max-width: 920px)
    .awards__date_item
      padding: 0 10px
  @media (max-width: 360px)
    .awards__date_item
      padding: 0 5px

.event__page_item
  @media (max-width: 860px)
    width: 50%
    padding: 0 5px
    margin-bottom: 10px
  @media (max-width: 640px)
    width: 100%

.event__page_item--inner-img
  @media (max-width: 640px)
    img
      width: 600px
      height: auto

.event__page_item--inner-desc--title
  @media (max-width: 420px)
    font-size: 16px
