.burger
  display: none
  width: 16px
  height: 16px
  cursor: pointer
  position: relative

  &:before, &:after, span
    width: 100%
    height: 2px
    display: block
    background: $red
    position: absolute
    opacity: 1
    content: ''

  &:before
    top: 1px

  & span
    top: 6px

  &:after
    top: 11px

  @media (max-width: 920px)
    display: inline-block

.burger-menu
  color: $red
  font-family: 'SofiaPro', sans-serif
  font-size: 14px
  font-weight: 700
  margin: 0 0 0 22px

.burger.cross
  span
    opacity: 0

.burger.cross:before, .burger.cross:after
  top: 40%

.burger.cross:before
  transform: rotate(45deg)

.burger.cross:after
  transform: rotate(-45deg)

.burger:focus
  outline: none

.header__search
  @media (max-width: 920px)
    display: none

.header__search_mobile
  display: none
  @media (max-width: 920px)
    display: block

.logo
  @media (max-width: 1070px)
    margin: 0 15px 0 0
  @media (max-width: 920px)
    margin: 0 auto

.nav
  @media (max-width: 980px)
    padding: 0 0 0 15px
  @media (max-width: 920px)
    display: none

.nav__container
  @media (max-width: 980px)
    margin: 0 10px
    &:first-child
      margin: 0 10px 0 0
    &:last-child
      margin: 0 0 0 10px

.lang
  @media (max-width: 920px)
    display: none

.header__wrapper
  @media (max-width: 920px)
    padding: 0
    height: 50px

.header__wrapper_container
  @media (max-width: 920px)
    &:first-child
      width: 100%
      padding: 0 10px

.header__nav_mobile
  display: none
  &--active
    display: block
  .nav
    display: none
  @media (max-width: 920px)
    position: absolute
    top: 50px
    width: 100%
    background: $white
    .nav
      display: block
      padding: 0
    .nav__container
      flex-wrap: wrap
      margin: 0
      &:after
        display: none
    .nav__item
      padding: 12px 10px
      position: relative
      width: 100%
      border-bottom: 1px solid $light-grey
      margin: 0
      &:after
        position: absolute
        right: 20px
        top: 18px
        display: inline-block
        content: ''
        width: 0
        height: 0
        border-style: solid
        border-width: 0 3px 3px 3px
        border-color: transparent transparent $red transparent
        transform: rotate(90deg)
      &--active
        padding: 12px 10px 12px 30px
        &:after
          right: auto
          left: 10px
          transform: rotate(-90deg)
    .nav__item.disable
      display: none

  .lang
    display: block
    padding: 12px 10px
    background-color: $light-grey
    margin: 0
    width: 100%
    &:after
      transform: rotate(90deg)
      border-color: transparent transparent $red
      margin: 0
      display: inline-block
      vertical-align: middle
  .lang__item
    display: inline-block


.nav__container_mobile_menu--wrapper
  @media (max-width: 920px)
    width: 100%
    .nav__container_menu--item
      display: none
      position: relative
      border-bottom: 1px solid $light-grey
      padding: 12px 10px
      width: 100%
      margin: 0
      &:after
        position: absolute
        right: 20px
        top: 18px
        display: inline-block
        content: ''
        width: 0
        height: 0
        border-style: solid
        border-width: 0 3px 3px 3px
        border-color: transparent transparent $red transparent
        transform: rotate(90deg)
    .active
      display: block
