.about__video
    .about__video_wrapper.wrapper
        .about__video_desc
            .title__dg-rd-g
                |<span class="red__span">QualySense </span><br><span>in the Press</span>
            .page__text
                |The unique and proprietary devices enable sorting grains, seeds and beans reliably by biochemical and/or geometrical properties. Our sorting devices, the QSorter series, generate outstanding benefits in quality inspection, process monitoring, and research & developmentnon-invasive way.
        .about__video_container
            .about__video_container--btn
                .about__video_container--btn-inner

