.about__food
    .about__food_wrapper.wrapper
        .about__food_desc
            .page__subtitle
                |Quality
            .title__dg-g
                |<span>Excellent Food</span><br><span>Quality Starts</span><br><span>with </span><span class="red__span">QualySense</span>
            .page__text
                |QualySense is pioneering high-speed single kernel technologies since 2010 and it's proud to offer the QSorter Explorer, the life science single kernel robot for high-speed accurate analysis and sorting of grains, seeds, and beans. The proprietary and state-of-the-art technology of the QSorter Explorer is the successful outcome of a long collaboration between QualySense and leading academic institutions such as the United States Department of Agriculture (USDA), the Swiss Breeding Research Institute (AGROSCOPE), and EMPA, the Swiss Research Institute for Material Research.
            a.q__btn.q__btn_contact href="contact.html"
                |Contact Us

        .food_img
            img src="img/about__robot_2.png"