.about__commit
    .about__commit_wrapper.wrapper
        .about__commit_desc
            .page__subtitle
                |Who we are
            .title__dg-g
                |<span> Committed</span><br><span>to Innovation</span>
            .page__text
                p
                    |QualySense develops high-end solutions for a safe and sustainable food supply. By pioneering single-kernel
                    |analysis, combining two sensing technologies - Machine Vision and hyperspectral NIR - QualySense is
                    |helping seed breeders, food companies and inspection agencies to achieve excellence in nutrition,
                    |health and safety.
                p
                    |The unique and proprietary devices enable sorting grains, seeds and beans
                    |reliably by biochemical and/or geometrical properties. Our sorting devices, the QSorter series, generate
                    |outstanding benefits in quality inspection, process monitoring, and research & development.
            .about__commit_contacts
                .about__commit_contact
                    a.about__commit_contact--link href="sales@qualysense.com"
                        |sales@qualysense.com
                    .about__commit_contact--text.about__commit_contact--text-email
                        |Email address
                .about__commit_contact--separator
                .about__commit_contact
                    a.about__commit_contact--link href="sales@qualysense.com"
                        |+41 (0) 44 824 35 84
                    .about__commit_contact--text.about__commit_contact--text-phone
                        |Phone number
        
        .about__img
            img src="img/about__robot_1.png"
