.about__timeline
    .page__bar.page__bar_red.page__bar_reserv
        .page__bar_item-l
        .page__bar_item-r
            .page__bar_item-r--content
                .page__bar_item-r--content__subtitle
                    |Roadmap

    .about__timeline_wrapper.wrapper
        .title__w-r
            |<span>We're just </span><br><span>Getting Started</span>
        .timeline
            .timeline__item
                .timeline__table.timeline__table_top
                    img.timeline__table_img src="img/timeline__img.png"
                    .timeline__table_desc
                        |Became principal member
                .timeline__item_box
                    .timeline__border.timeline__border_act
                    .timeline__item_box--date
                        |2013
                .timeline__item_box
                    .timeline__border
            .timeline__item
                .timeline__table.timeline__table_bottom
                    img.timeline__table_img src="img/timeline__img.png"
                    .timeline__table_desc
                        |Became principal member
                .timeline__item_box
                    .timeline__border.timeline__border_act
                    .timeline__item_box--date
                        |2015
                .timeline__item_box
                    .timeline__border
            .timeline__item
                .timeline__table.timeline__table_top
                    img.timeline__table_img src="img/timeline__img.png"
                    .timeline__table_desc
                        |Became principal member
                .timeline__item_box
                    .timeline__border.timeline__border_act
                    .timeline__item_box--date
                        |2016
                .timeline__item_box
                    .timeline__border
            .timeline__item
                .timeline__table.timeline__table_bottom
                    img.timeline__table_img src="img/timeline__img.png"
                    .timeline__table_desc
                        |Became principal member
                .timeline__item_box
                    .timeline__border.timeline__border_act
                    .timeline__item_box--date
                        |2017
                .timeline__item_box
                    .timeline__border
            .timeline__item
                .timeline__table.timeline__table_top
                    img.timeline__table_img src="img/timeline__img.png"
                    .timeline__table_desc
                        |Became principal member
                .timeline__item_box
                    .timeline__border.timeline__border_act
                    .timeline__item_box--date
                        |2018
                .timeline__item_box
                    .timeline__border

