.article__page
    .article__page_wrapper.wrapper
        .title__dg-g
            |<span>The best QSorter Technology 2018 year </span>
        .page__text
            |April 26, 2017, Amsterdam, Netherlands - Red Herring announced its Red Herring Europe award winners this evening at the Top 100 forum
        .article__page_date
            |22/05/2018
        .article__page_thumbnail
            img src="img/news__item_bg.png"
        .page__text
            |“In 2017, selecting the top achievers was by no means a small feat,” said Alex Vieux, publisher and CEO of Red Herring. “In fact, we had the toughest time in years because so many entrepreneurs had crossed significant milestones so early in the European tech ecosystem. But after much thought, rigorous contemplation and discussion, we narrowed our list down from hundreds of candidates from across Europe to the Top 100 Winners. We believe QualySense embodies the vision, drive and innovation that define a successful entrepreneurial venture. QualySense should be proud of its accomplishment, as the competition was very strong.”<br><br>Red Herring’s editorial staff evaluated the companies on both quantitative and qualitative criteria, such as financial performance, technological innovation, management quality, overall business strategy and market penetration. This assessment was complemented by a review of the track records and standings of similar startups in the same verticals, allowing Red Herring to see past the “hype” and make the list a valuable instrument of discovery and advocacy for the most promising new business models in Europe.
            