.opp
    .page__head_products
        background-image: url(img/work__bg.png)

.opp__join
    .page__bar_item-l
        background: none

.opp__join_wrapper
    padding: 100px 10px 60px
    margin-bottom: 100px
    position: relative
    display: flex
    justify-content: flex-end
    z-index: 1
    &:before
        content: ''
        display: block
        position: absolute
        top: 0px
        z-index: -1
        right: -100%
        height: 100%
        width: 100%
        background: #f4f4f5
    &:after
        content: ''
        display: block
        z-index: -1
        position: absolute
        top: 0px
        left: 320px
        height: 100%
        width: 100%
        background: #f4f4f5
    .page__subtitle
        margin-bottom: 20px

.page__text
    span
        color: #6b757d
        font-weight: 900
    a
        color: $red
    p
        margin: 0 0 30px
        &:last-child
            margin: 0

.page__text_items
    display: flex
    flex-wrap: wrap

.page__text_item
    width: 50%
    color: $red
    display: flex
    font-size: 16px
    font-weight: 600
    font-family: $proximaNova
    align-items: center
    margin-top: 20px
    &:before
        margin-right: 10px
        color: $red

.opp__join_desc
    width: 100%
    max-width: 500px

.opp__join_img
    width: 655px
    display: table
    background: $white
    box-shadow: 45.559px 58.313px 77.28px 6.72px rgba(1, 1, 1, 0.12)
    position: relative
    left: -50px
    top: -50px
    &:before
        content: ''
        padding-bottom: 100%
        float: left
    img
        position: absolute
        width: 100%
        padding: 50px
