.opp__job_wrapper
    padding: 65px 10px 100px
    display: flex
    align-items: center
    flex-direction: column

.title__rd-g
    position: relative
    z-index: 1
    max-width: 700px
    font-size: 54px
    font-family: $sofiaPro
    color: $red
    font-weight: 600
    span
        position: relative
        &:before
            z-index: -1
            content: ''
            display: block
            position: absolute
            width: 100%
            height: 15px
            height: 15px
            background: #efefee
            bottom: 10px

.opp__job_items
    max-width: 900px
    margin: 0 auto
    width: 100%
    margin-top: 35px

.opp__job_item--info
    padding: 15px 0px
    display: flex
    justify-content: space-between

.opp__job_item
    border-bottom: solid 1px #ebedee

.opp__job_item--active
    .opp__job_item--more
        display: block
    .opp__job_item--info-btn
        background: $red
        &:before
            color: $white
            transform: rotate(-90deg)
    .opp__job_item--info-title
        color: $red

.opp__job_item--info-title
    font-weight: 900
    font-family: $sofiaPro
    color: #5e5e5c
    display: flex
    align-items: center
    font-size: 26px

.opp__job_item--info-btn
    width: 40px
    height: 40px
    background: #f7f7f7
    display: flex
    align-items: center
    justify-content: center
    &:before
        color: $red
        font-size: 11px
        transform: rotate(90deg)

.opp__job_item--more
    padding-bottom: 55px
    padding-right: 50px
    font-family: $proximaNova
    font-weight: 400
    color: #727b82
    font-size: 16px
    line-height: 1.687
    display: none
    a
        color: $red
