.opp__pdf
    background: #f4f4f5
    
.opp__pdf_wrapper
    padding: 60px 10px 95px
    display: flex
    flex-direction: column
    align-items: center

.opp__pdf_files
    max-width: 900px
    display: flex
    width: 100%
    margin: 0 auto
    flex-direction: column
    margin-top: 25px

.opp__pdf_file
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    height: 90px
    border-bottom: solid 1px #e2e3e5
    margin-bottom: 10px

.opp__pdf_file--desc-title
    font-weight: 900
    font-family: $sofiaPro
    color: #5e5e5c
    font-size: 26px

.opp__pdf_file--desc-date
    font-weight: 400
    font-family: $sofiaPro
    color: $red
    margin-top: 10px
    font-size: 14px

.opp__pdf_file--btn
    width: 160px
    height: 40px
    margin-left: 20px
    background: $red
    display: flex
    flex-direction: row-reverse
    align-items: center
    justify-content: center
    color: $white
    font-family: $sofiaPro
    font-size: 12px
    font-weight: 600
    &:before
        color: $white
        margin-left: 10px
        padding-bottom: 1px
