.clients__carousel
    display: none !important
    width: 100%
    padding: 0 10px 30px
    .owl-dots
        display: none !important
    .owl-stage-outer, .owl-stage, .owl-item, .index__carousel_item
        height: 100%
    .owl-dots
        position: absolute
        display: flex
        justify-content: center
        width: 270px
        right: 50%
        transform: translateX(50%)
        top: auto
        bottom: 30px
        .owl-dot
            width: 40px
            height: 3px
            background: #d9dcde
            margin: 0 10px
        .active
            background: $red

.clients__carousel
    @media (max-width: 860px)
        display: block !important

.index__partners_wrapper
    @media (max-width: 860px)
        display: none
        
.index__partners--item
    @media (max-width: 860px)
        position: relative
        width: 100px
        height: 100px
        padding: 0
        display: inline-block
        img
            position: absolute
            top: 50%
            transform: translateY(-50%)
