.index__farm_wrapper
    @media (max-width: 920px)
        height: 770px
    @media (max-width: 700px)
        padding: 30px 10px 50px
        height: 1070px

.index__farm_item--img
    @media (max-width: 1170px)
        width: 160px
        height: 160px
    @media (max-width: 1020px)
        width: 100px
        height: 100px

.index__farm_item
    @media (max-width: 1170px)
        width: 160px
    @media (max-width: 1020px)
        width: 100px

.index__farm_item--2 .index__farm_arrow
    @media (max-width: 1170px)
        bottom: -90px
        left: 45px

.index__farm_item--4 .index__farm_arrow
    @media (max-width: 1020px)
        top: -80px

.index__farm_item--5 .index__farm_arrow
    @media (max-width: 1020px)
        top: 250px
        right: -70px

.index__farm_item--subtitle
    @media (max-width: 1020px)
        margin: 10px 10px 15px

.index__farm_item--1
    @media (max-width: 920px)
        top: 140px
        left: 10px
        .index__farm_arrow
            top: 140px
            left: 140px
            transform: rotate(45deg)
            width: 50px
            height: 50px
    @media (max-width: 700px)
        left: 10%
        transform: translateX(-10%)
        .index__farm_arrow
            transform: rotate(45deg)
    @media (max-width: 360px)
        .index__farm_arrow
            left: 120px

.index__farm_item--2
    @media (max-width: 920px)
        top: 160px
        left: 35%
        transform: translateX(-35%)
        .index__farm_arrow
            bottom: 50px
            left: 140px
            transform: rotate(45deg)
            width: 50px
            height: 50px
    @media (max-width: 700px)
        left: 90%
        transform: translateX(-90%)
        .index__farm_arrow
            bottom: -80px
            left: 30px
            transform: rotate(145deg)

.index__farm_item--3
    @media (max-width: 920px)
        top: 120px
        left: 70%
        transform: translateX(-70%)
        .index__farm_arrow
            top: 180px
            right: -120px
            transform: rotate(70deg)
            width: 50px
            height: 50px
    @media (max-width: 900px)
        .index__farm_arrow
            right: -100px
    @media (max-width: 700px)
        top: 475px
        left: 90%
        transform: translateX(-90%)
        .index__farm_arrow
            top: 160px
            right: 130px
            transform: rotate(200deg)
    @media (max-width: 360px)
        .index__farm_arrow
            right: 120px

.index__farm_item--4
    @media (max-width: 920px)
        left: calc(100% - 10px)
        top: 260px
        transform: translateX(-100%)
        .index__farm_arrow
            top: 240px
            right: 140px
            transform: rotate(190deg)
            width: 50px
            height: 50px
    @media (max-width: 700px)
        top: 500px
        left: 10%
        transform: translateX(-10%)
        .index__farm_arrow
            transform: rotate(230deg) scale(-1, 1)
            top: 240px
            right: 70px

.index__farm_item--5
    @media (max-width: 920px)
        right: 30%
        transform: translateX(-30%)
        top: 430px
        .index__farm_arrow
            top: 150px
            right: 170px
            transform: rotate(-130deg)
            width: 50px
            height: 50px
    @media (max-width: 700px)
        top: 780px
        right: 90%
        transform: translateX(90%)
        .index__farm_arrow
            transform: rotate(-40deg) scale(1, -1)
            top: 180px
            right: -80px
    @media (max-width: 360px)
        .index__farm_arrow
            right: -60px

.index__farm_item--6
    @media (max-width: 920px)
        right: 60%
        transform: translateX(-60%)
        top: 405px
    .index__farm_arrow
        width: 50px
        height: 50px
    @media (max-width: 700px)
        right: 10%
        transform: translateX(10%)
        top: 800px

.index__farm_arrow
    @media (max-width: 740px)
        width: 80px

.index__farm
    .page__bar
        @media (max-width: 920px)
            height: 50px
            .page__bar_item-l
                padding: 0
                width: 0
            .page__bar_item-r
                width: 100%
                justify-content: flex-start
                padding: 0 20px
