.index__circle_item
    @media (max-width: 1200px)
        pointer-events: none
        padding: 45px 10px 0px 10px
.index__circle_main
    @media (max-width: 1200px)
        pointer-events: auto


.index__circle_item--desc
    @media (max-width: 1200px)
        font-size: 14px

.index__circle_inner
    @media (max-width: 950px)
        height: auto

//.index__circle_main--item-act
//    @media (max-width: 950px)
//        .circle__act_red
//            opacity: 1
//            transition: .5s ease all
//            left: 0
//            z-index: 0
//        .circle__act_white
//            opacity: 1 !important
//            left: 0
//            z-index: 0
//        .index__circle_item--info
//            opacity: 1 !important
//            left: 0
//            z-index: 0
//            transition: .5s ease all
//        &:before
//            opacity: 1 !important
//            left: 0
//            z-index: 0

.index__circle_item
    @media (max-width: 950px)
        display: none

.index__circle
    @media (max-width: 950px)
        .page__bar_white .page__bar_item-l
            width: 0
            padding: 0
        .page__bar_white .page__bar_item-r
            width: 100%
            padding: 0 20px
            justify-content: flex-start
            background: none


//    &--1
//        @media (max-width: 950px)
//            &:before
//                opacity: 1 !important
//                left: 0
//                z-index: 0
//    &--2
//        @media (max-width: 950px)
//            &:before
//                opacity: 1 !important
//                left: 0
//                z-index: 0
//    &--3
//        @media (max-width: 950px)
//            &:before
//                opacity: 1 !important
//                left: 0
//                z-index: 0
//    &--4
//        @media (max-width: 950px)
//            &:before
//                opacity: 1 !important
//                left: 0
//                z-index: 0

.index__circle_main--item img
    @media (max-width: 950px)
        display: none

.index__circle_main--logo
    @media (max-width: 950px)
        display: none

.index__circle_main--item
    @media (max-width: 950px)
        width: 100%
        height: auto
        margin-bottom: 10px
        flex-wrap: wrap
        padding: 0

.index__circle_main
    @media (max-width: 950px)
        position: relative
        transform: none
        right: 0
        top: 0
        width: 100%
        height: auto
        padding: 10px

.index__circle_main--item-desc
    @media (max-width: 950px)
        left: 0px
        height: 74px
        text-align: left
        font-size: 16px
        bottom: 0px
        max-width: none
        background-color: $red
        padding: 10px
        position: relative

.index__circle_main--item-2
    .index__circle_main--item-desc
        @media (max-width: 950px)
            left: 0px

.index__circle_main--item-4
    .index__circle_main--item-desc
        @media (max-width: 950px)
            left: 0px

.index__circle_main--item-desc
    &:before
        @media (max-width: 950px)
            bottom: 24px
            left: 10px
            right: auto
            transform: none

.index__circle_main--item-desc
    &:after
        @media (max-width: 950px)
            right: auto
            transform: none
            left: 27px
            bottom: 14px

.index__circle_main--item-desc-inner
    display: none
    @media (max-width: 950px)
        display: none
        background-color: $white
        padding: 20px 10px
        .index__circle_item--title
            font-size: 16px
            margin-bottom: 15px
        .index__circle_item--link
            padding: 0
            margin-top: 20px
            align-items: flex-start
            display: inline-flex

.index__circle_main--item-open
    .index__circle_main--item-desc-inner
        display: block
