.index__slider_wrapper
    @media (max-width: 1020px)
        padding: 80px 10px
        .title
            padding-top: 0px
    @media (max-width: 800px)
        flex-direction: column-reverse
        padding: 20px 10px 70px

.index__carousel
    @media (max-width: 800px)
        margin: 40px auto 0px
        width: 100%
        height: auto

.index__carousel .owl-dots
    @media (max-width: 800px)
        top: auto
        bottom: -20px
        right: 50%
        transform: translateX(50%)

.index__carousel_item--img
    @media (max-width: 800px)
        box-shadow: none
        margin: 0
        width: 50%
        height: fit-content
        &:after
            padding-top: 100%
            content: ''
            width: 100%

.index__carousel_item--text
    @media (max-width: 520px)
        margin-right: 10px
        padding-bottom: 40px

.index__carousel_item--text-title
    @media (max-width: 800px)
        font-size: 14px

.index__carousel_item--text-desc
    @media (max-width: 800px)
        font-size: 14px

.index__carousel_item--text-name
    @media (max-width: 800px)
        font-size: 14px
    @media (max-width: 520px)
        margin-top: 40px
