.index__news_nav
    display: flex
    height: 60px
    display: flex
    align-items: center

.body__container
    position: relative
    overflow: hidden
    
body
    .index__news
        background-image: url(img/news__bg.png)
        background-size: cover
        .page__bar_reserv
            .page__bar_item-r
                background: none
            .page__bar_item-l
                background: #f4f4f5
                height: 100%

.index__wrapper
    position: relative
    // &:before
        // width: 100%
        // content: ''
        // display: block
        // height: 60px
        // background: $gray
        // position: absolute
        // top: 0px
        // right: -50%
    // &:after
    //     width: 100%
    //     content: ''
    //     display: block
    //     height: 60px
    //     background: $gray
    //     position: absolute
    //     bottom: 0
    //     right: -50%

.index__news_nav--r__second
    &:before
        display: none

.index__news_inner
    padding: 60px 0px 100px

.title__news
    position: relative
    z-index: 1
    color: $dark-gray
    &:before
        z-index: -1
        content: ''
        display: block
        bottom: 15px
        background: #efefee
        position: absolute
        width: 100%
        height: 15px

.index__news_inner--head
    align-items: center
    display: flex
    justify-content: space-between

.index__news_items
    width: 1200px
    display: flex
    position: relative
    left: -15px
    margin: 45px 0px 30px

.index__news_item
    padding: 0px 15px
    width: 33.33%

.index__news_item--inner
    height: 300px
    position: relative
    overflow: hidden
    z-index: 1
    background: #000
    display: flex
    flex-direction: column
    justify-content: space-between

.index__news_item--bg
    img
        z-index: -1
        opacity: .7
        position: absolute
        height: 400px
        right: 50%
        top: 50%
        transform: translate(50%, -50%)

.index__news_item--cat
    padding: 15px
    font-family: $sofia
    font-weight: 400
    font-size: 14px
    margin-bottom: auto
    color: $white
    text-transform: uppercase

.index__news_item--date
    font-family: $sofia
    color: $white
    font-weight: 400
    font-size: 14px

.index__news_item--container
    height: 105px
    border-right: 8px solid $red
    text-align: right
    max-width: 280px
    padding: 20px
    margin-left: auto

.index__news_item--desc
    font-family: $sofia
    color: $white
    font-weight: 600
    font-size: 21px

.index__news_form
    display: flex
    height: 40px

.index__news_form--input
    display: flex
    align-items: center
    justify-content: flex-start
    border-bottom: solid 1px #bec3c6
    width: 190px
    font-family: $sofia
    color: #bec3c6
    font-size: 14px
    font-weight: 400

.index__news_form--submit
    height: 100%
    width: 110px
    background: $red
    display: flex
    align-items: center
    justify-content: center
    font-family: $sofia
    color: $white
    font-size: 14px

.index__news_more
    width: 230px
    height: 55px
    background: #ffffff
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    margin: 0 auto
    font-family: $sofia
    font-weight: 600
    color: $red
    font-size: 16px
    box-shadow: 0px 34px 42.24px 1.76px rgba(1, 1, 1, 0.12)