.index__solv
    background-image: url(img/solv__bg.png)
    background-size: cover

.index__solv_wrapper
    display: flex
    justify-content: space-between
    padding: 135px 0px 170px
    position: relative
    .title
        margin-top: 175px
        display: flex
        flex-direction: column
        align-items: flex-start
    .title__line
        &:before
            background: #e83a34
            box-shadow: 0px 34px 42.24px 1.76px rgba(1, 1, 1, 0.24)

.index__solv_desc
    max-width: 215px
    font-size: 22px
    font-family: $sofia
    font-weight: 400
    line-height: 1.308
    color: $white
    margin-top: 30px

.index__solv_table
    cursor: pointer
    display: flex
    padding-bottom: 36px
    border-bottom: solid 1px rgba(255, 255, 255, .5)
    width: 275px
    margin-bottom: 50px
    &:hover
        .index__solv_table--number
            color: $white
        .index__solv_table--title
            color: $white

.index__solv_table--number
    font-family: $sofia
    font-weight: 400
    font-size: 26px
    color: rgba(255, 255, 255, .5)
    transition: .5s ease all
    margin-right: 20px

.index__solv_table--title
    font-family: $sofia
    font-weight: 600
    transition: .5s ease all
    font-size: 50px
    color: rgba(255, 255, 255, .5)
    line-height: 18px

.index__solv_table--act
    .index__solv_table--title
        color: $white
    .index__solv_table--number
        color: $white
