.index__contactus_wrapper
    height: 320px
    position: relative
    display: flex
    z-index: 1
    align-items: center
    // justify-content: flex-start
    &:before
        content: ''
        position: absolute
        display: block
        border-radius: 50%
        width: 365px
        z-index: -1
        height: 365px
        border: solid 95px #e83a34
        top: 0px
        right: 40px
    .q__btn_contact
        margin-left: 80px
        box-shadow: 0px 34px 42.24px 1.76px rgba(1, 1, 1, 0.22)
        background: #e83a34
    .title
        display: flex
        flex-direction: column
        align-items: flex-start
    .title__line
        &:before
            background: #e83a34
            box-shadow: 0px 34px 42.24px 1.76px rgba(1, 1, 1, 0.24)

.index__contactus
    overflow: hidden
    position: relative
    background: $red

.index__contactus_img--1
    position: absolute
    top: 170px
    left: -50px

.index__contactus_img--2
    top: -100px
    height: 200px
    width: auto
    left: 365px
    position: absolute