.index__farm
    background: #f4f4f5
    position: relative
    overflow: hidden

.index__farm_wrapper
    padding: 65px 0px 120px
    display: flex
    flex-direction: column
    position: relative
    height: 870px
    .title
        margin: 0 auto
        display: flex
        &:before
            background: #e5e5e5
    // &:after
    //     width: 100%
    //     content: ''
    //     display: block
    //     height: 60px 
    //     background: $red
    //     position: absolute
    //     bottom: 0
    //     right: -50%
        

.index__farm_item
    display: flex
    width: 220px
    flex-direction: column
    align-items: flex-start
    position: absolute
    &:before
        content: ''
        display: block
        height: 600px
        width: 1px
        background: #e8abaa
        position: absolute
        right: 50%
        transform: translate(-50%, 0%)
        top: 320px

.index__farm_item--number
    font-family: $sofia
    font-weight: 600
    font-size: 38px
    color: #d4d4d5
    margin-left: 30px
    padding-bottom: 5px
    border-bottom: solid 1px #d4d4d5

.index__farm_item--subtitle
    margin: 10px 0px 15px 0px
    font-family: $sofia
    font-weight: 600
    font-size: 18px
    margin-left: 30px
    color: #5e5e5c

.index__farm_item--img
    box-shadow: 0px 34px 42.24px 1.76px rgba(1, 1, 1, 0.22)
    width: 220px
    border-radius: 50%
    height: 220px
    background: #fff
    
.index__farm_arrow
    position: absolute

.index__farm_item--1
    top: 335px
    .index__farm_arrow
        top: -90px
        left: 100px

.index__farm_item--2
    top: 180px
    left: 200px
    .index__farm_arrow
        bottom: -100px
        transform: rotatex(180deg)
        bottom: -70px
        left: 55px

.index__farm_item--3
    top: 515px
    left: 330px
    .index__farm_arrow
        top: -70px
        right: -20px

.index__farm_item--4
    left: 570px
    top: 340px
    .index__farm_arrow
        right: -30px
        top: -30px

.index__farm_item--5
    right: 115px
    top: 170px
    .index__farm_arrow
        top: 320px
        right: -50px
        transform: rotateZ(90deg)

.index__farm_item--6
    right: 0px
    top: 515px

.index__news_nav--r__second
    background: #fff

