.index__partners_wrapper
    height: 175px
    display: flex
    align-items: center

.index__partners
    background: $gray
    
.index__partners--item
    width: 16.66%
    padding: 0 15px
    height: 100px
    display: flex
    align-items: center
    justify-content: center
    img
        // height: 40px
        // width: auto