.index__circle
    background-image: url(img/circle__bg.png)
    background-size: cover
    overflow: hidden
    .page__bar_item-r
        &:before
            display: none

.index__circle_wrapper
    position: relative
    // &:after
    //     width: 100%
    //     content: ''
    //     display: block
    //     height: 60px 
    //     background: $red
    //     position: absolute
    //     bottom: 0
    //     right: -50%

.index__circle_inner
    height: 857px
    display: flex
    position: relative
    flex-wrap: wrap
    
.index__circle_item
    width: 50%
    height: 405px
    position: relative
    // overflow: hidden
    flex-direction: column
    display: flex
    &--1
        align-items: flex-start
        text-align: left
        padding: 45px 0px 0px 0px
        &:before
            opacity: 0
            content: ""
            display: block
            height: 428px
            width: 1170px
            background: $white
            z-index: 20
            position: absolute
            left: -1250px
            top: 0px
            // transition: .5s ease all
    &--2
        align-items: flex-end
        text-align: right
        padding: 45px 0px 0px 0px
        .index__circle_item--info
            align-items: flex-end
        &:before
            opacity: 0
            content: ""
            display: block
            height: 428px
            width: 1170px
            background: $white
            z-index: 20
            position: absolute
            right: -1250px
            top: 0px
    &--3
        align-items: flex-end
        text-align: right
        padding: 0px 0px 45px 0px
        &:before
            opacity: 0
            content: ""
            display: block
            height: 428px
            width: 1170px
            background: $white
            z-index: 20
            position: absolute
            left: -1250px
            top: 0px
    &--4
        &:before
            opacity: 0
            content: ""
            display: block
            height: 428px
            width: 1170px
            background: $white
            z-index: 20
            position: absolute
            right: -1250px
            top: 0px
        
.index__circle_item--info
    max-width: 245px
    position: relative
    display: flex
    flex-direction: column
    z-index: 4
    opacity: 0
    transition: .5s ease all
        
.index__circle_main
    position: absolute
    right: 50%
    top: 50%
    pointer-events: none
    transform: translate(50%, -50%)
    height: 560px
    width: 560px
    // border: solid 1px #000
    z-index: 1
    display: flex
    flex-wrap: wrap

.circle__act_red
    opacity: 0
    transition: .5s ease all

.index__circle_main--item-act
    .circle__act_red
        opacity: 1
        transition: .5s ease all
    .circle__act_white
        opacity: 1 !important
        // transition: .5s ease all
    .index__circle_item--info
        opacity: 1 !important
        transition: .5s ease all
    &:before
        opacity: 1 !important
        // transition: .5s ease all
    
.index__circle_main--item-desc
    position: absolute
    max-width: 195px
    bottom: 120px
    width: 100%
    text-align: center
    font-family: $sofia
    font-weight: 600
    color: $white
    z-index: 2
    font-size: 21px
    &:before
        content: ''
        display: block
        width: 40px
        height: 1px
        background: $white
        position: absolute
        bottom: -20px
        right: 50% 
        transform: translate(50%, 0%)
    &:after
        content: '' 
        display: block
        width: 4px
        height: 4px
        border-radius: 50%
        background: $white
        transform: translate(50%, 0%)
        right: 50%
        bottom: -32px
        position: absolute

.index__circle_main--item
    // width: 50%
    height: 280px
    width: 280px
    position: relative
    display: flex
    img
        height: 275px
        width: 275px
    &-1
        // background: pink
        align-items: flex-end
        justify-content: flex-end
        padding-right: 5px
        padding-bottom: 5px
        .circle__act_red
            position: absolute
            width: 295px
            height: 295px
            right: 5px
            top: -20px
        .index__circle_main--item-desc
            right: 20px
        .circle__act_white
            height: 430px
            width: auto
            bottom: 0px
            right: -1px
            opacity: 0
            position: absolute
            // transition: .5s ease all
    &-2
        // background: $red
        align-items: flex-end
        justify-content: flex-start
        padding-left: 5px
        padding-bottom: 5px
        .circle__act_red
            position: absolute
            width: 295px
            height: 295px
            left: 5px
            top: -20px
        .index__circle_main--item-desc
            left: 20px
        .circle__act_white
            height: 430px
            width: auto
            bottom: 0px
            left: -2px
            opacity: 0
            position: absolute
            // transition: .5s ease all
    &-3
        // background: gray
        padding-top: 5px
        padding-right: 5px
        align-items: flex-start
        justify-content: flex-end
        .circle__act_red
            position: absolute
            width: 295px
            height: 295px
            right: 5px
            bottom: -20px
        .index__circle_main--item-desc
            right: 20px
        .circle__act_white
            height: 430px
            width: auto
            top: -1px
            right: -1px
            opacity: 0
            position: absolute
            // transition: .5s ease all
    &-4
        padding-top: 5px
        padding-left: 5px
        // background: green
        align-items: flex-start
        .circle__act_red
            position: absolute
            width: 295px
            height: 295px
            left: 5px
            bottom: -20px
        .index__circle_main--item-desc
            left: 20px
        .circle__act_white
            height: 430px
            width: auto
            top: -1px
            left: -1px
            opacity: 0
            position: absolute
            // transition: .5s ease all
.index__circle_main--logo
    position: absolute
    right: 50%
    top: 50%
    transform: translate(50%, -50%)
    height: 80px

.index__circle_item--title
    font-family: $sofia
    font-size: 26px
    font-weight: 600
    color: $dark-gray

.index__circle_item--desc
    font-family: $sofia
    font-size: 16px
    font-weight: 400
    color: $dark-gray
    line-height: 1.75

.index__circle_item--link
    color: $red
    padding: 0 6px
    position: relative
    font-family: $sofia
    font-size: 14px
    font-weight: 400
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 30px
    &:before
        content: ''
        display: block
        position: absolute
        height: 1px
        width: 100%
        bottom: -3px
        background: $red

.index__solv_circles
    position: absolute
    top: 50%
    right: 50%
    transform: translate(50%, -50%)
    width: 285px

.index__solv_circle
    width: 285px
    height: 285px
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    background: rgba(255, 255, 255, .25)
    overflow: hidden
    position: relative
    z-index: 1
    &:before
        content: ''
        display: block
        right: -180px
        width: 430px
        z-index: -1
        height: 150px
        position: absolute
        transform: rotate(120deg)
        background: hsla(0,0%,100%,.25)

.index__solv_sircle--1
    bottom: -50px

.index__solv_sircle--2
    top: -50px
    &:before
        transform: rotate(40deg)
        top: -50px


.index__solc_circle--icon
    background: #d21e18
    width: 65px
    height: 65px
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center

.index__solc_circle--desc
    max-width: 135px
    text-align: center
    font-family: $sofia
    font-weight: 600
    color: $white
    margin-top: 5px

.index__solv_circle--act
    z-index: 5
    background: $white
    .index__solc_circle--desc
        color: #6f6f6f