.index__slider
    background-image: url(img/index__slider_bg.png)
    background-size: cover
    background-repeat: no-repeat
    background-position-y: 80px

.index__slider_wrapper
    padding: 140px 0px 105px 150px
    display: flex
    .title
        padding-top: 75px

.index__carousel
    width: 590px
    height: 360px
    .owl-stage-outer, .owl-stage, .owl-item, .index__carousel_item
        height: 100%
    .owl-dots
        position: absolute
        display: flex
        justify-content: center
        width: 270px
        right: 60px
        top: 325px
        .owl-dot
            width: 40px
            height: 3px
            background: #d9dcde
            margin: 0 10px
        .active
            background: $red

.index__carousel_item--img
    width: 270px
    height: 270px  
    box-shadow: 0px 34px 42.24px 1.76px rgba(1, 1, 1, 0.12)
    position: relative
    overflow: hidden
    display: flex
    margin: 0px 60px 0px 0px
    align-items: center
    justify-content: center
    img
        height: 300px
        width: auto !important
        position: absolute

.index__carousel_item
    display: flex
    justify-content: space-between

.index__carousel_item--text
    max-width: 230px
    text-align: right
    display: flex
    flex-direction: column
    padding-bottom: 120px
    padding-top: 10px
    
.index__carousel_item--text-title
    font-family: $sofia
    margin-bottom: 10px
    font-weight: 600
    font-size: 18px
    color: $dark-gray

.index__carousel_item--text-desc
    font-family: $sofia
    font-weight: 400
    font-size: 16px
    color: $dark-gray

.index__carousel_item--text-name
    font-family: $sofia
    font-weight: 600
    font-size: 24px
    color: $dark-gray
    margin-top: auto

.index__carousel_item--text-position
    font-family: $sofia
    font-weight: 400
    font-size: 11px
    text-transform: uppercase
    color: $dark-gray

.title__span_gray
    position: relative
    z-index: 1
    color: $dark-gray
    &:before
        z-index: -1
        content: ''
        display: block
        bottom: 15px
        background: #efefee
        position: absolute
        width: 100%
        height: 15px

.title__span_red
    position: relative
    z-index: 1
    color: $red
    &:before
        z-index: -1
        content: ''
        display: block
        bottom: 15px
        background: #efefee
        position: absolute
        width: 100%
        height: 15px