//= partials/head.slim
  body
    .body__container.about
      //= partials/header.slim
      //= partials/products/products__head.slim
      //= partials/about/about__committ.slim
      //= partials/about/about__food.slim
      //= partials/about/about__timeline.slim
      //= partials/about/about__video.slim
      //= partials/footer.slim