//= partials/head.slim
  body
    .body__container.article
      //= partials/header.slim
      //= partials/products/products__head.slim
      //= partials/article/article.slim
      //= partials/article/article__news.slim
      //= partials/footer.slim