//= partials/head.slim
  body
    .body__container.awards
      //= partials/header.slim
      //= partials/awards/page__head_form.slim
      //= partials/awards/awards.slim
      //= partials/footer.slim