//= partials/head.slim
  body
    .body__container.contact
      //= partials/header.slim
      //= partials/products/products__head.slim
      //= partials/contact/contact.slim
      //= partials/contact/contact__form.slim
      //= partials/work/work__follow.slim
      //= partials/footer.slim