//= partials/head.slim
  body
    .body__container.events
      //= partials/header.slim
      //= partials/awards/page__head_form.slim
      //= partials/events/events.slim
      //= partials/footer.slim