//= partials/head.slim
  body
    .body__container
      //= partials/header.slim
      //= partials/index/index__home.slim
      //= partials/index/index__video.slim
      //= partials/index/index__news.slim
      //= partials/index/index__partners.slim
      //= partials/index/index__solv.slim
      //= partials/index/index__circle.slim
      //= partials/index/index__contactus.slim
      //= partials/index/index__farm.slim
      //= partials/index/index__slider.slim
      //= partials/index/index__form.slim
      //= partials/footer.slim