//= partials/head.slim
  body
    .body__container.opp
      //= partials/header.slim
      //= partials/products/products__head.slim
      //= partials/opp/opp__join.slim
      //= partials/opp/opp__pdf.slim
      //= partials/opp/opp__job.slim
      //= partials/work/work__follow.slim
      //= partials/footer.slim