//= partials/head.slim
  body
    .body__container.partners
      //= partials/header.slim
      //= partials/products/products__head.slim
      //= partials/partners/partners.slim
      //= partials/footer.slim