//= partials/head.slim
  body
    .body__container
      //= partials/header.slim
      //= partials/products/products__head.slim
      //= partials/product/product__page.slim
      //= partials/product/product__about.slim
      //= partials/product/product__form.slim
      //= partials/footer.slim