//= partials/head.slim
  body
    .body__container.team
      //= partials/header.slim
      //= partials/products/products__head.slim
      //= partials/team/team.slim
      //= partials/product/product__form.slim
      //= partials/footer.slim