//= partials/head.slim
  body
    .body__container.technology__qh
      //= partials/header.slim
      //= partials/products/products__head.slim
      //= partials/technology__qh/technology__auto.slim
      //= partials/technology__qh/technology__explorer.slim
      //= partials/technology__qh/technology__possible.slim
      //= partials/footer.slim