//= partials/head.slim
  body
    .body__container.work
      //= partials/header.slim
      //= partials/products/products__head.slim
      //= partials/work/work__main.slim
      //= partials/work/work__contactus.slim
      //= partials/work/work__slider.slim
      //= partials/work/work__follow.slim
      //= partials/footer.slim