.team__items_bg
    .team__items
        .team__items_wrapper.wrapper
            .members
                .members__head
                    .title__dg-g
                        |<span>Managment</span>
                    .members__head_desc
                        |The QualySense team of technology experts and knowledgeable advisors with proven experience.
                .member__active
                    .member__active_desc
                        .member__active_desc--name
                            |Dr. Francesco DELL'ENDICE
                        .member__active_desc--position
                            |Founder - CEO
                        .member__active_desc--desc
                            |Francesco Dell’Endice is the founder and the CEO of QualySense. He is a rocket scientist and holds a PhD in Natural Sciences and Spectroscopy. He has studied in Switzerland, Italy, France and Australia and speaks fluently 4 languages. He is a passionate entrepreneur, loves working in multicultural environments and bringing impossible ideas to the marketplace with the help of brilliant teammates. He firmly believes that the only keys to success are human capital and passion.
                    .member__active_img
                        .member__active_img--close
                        .member__active_img--src
                            img src="img/index__slider_img.png"
                    .member__active_mobile
                        .members__item_inner
                            .member__socials
                                .member__socials_close.member__socials_close--act
                                .member__socials--items
                                    .member__socials--item
                            .members__item_inner--position
                                |Co-Founder, COO and Head of Production
                            .members__item_inner--img
                                img src="img/index__slider_img.png"
                            .members__item_inner--name
                                |Paolo <br>D'ALCIN

                .members__items
                    .members__item
                        .members__item_inner
                            .member__socials
                                .member__socials_close.member__socials_close--act
                                .member__socials--items
                                    .member__socials--item
                            .members__item_inner--position
                                |Co-Founder, COO and Head of Production
                            .members__item_inner--img
                                img src="img/category__bg.png"
                            .members__item_inner--name
                                |Paolo <br>D'ALCIN
                            .members__item_inner--desc
                                |Francesco Dell’Endice is the founder and the CEO of QualySense. He is a rocket scientist and holds a PhD in Natural Sciences and Spectroscopy. He has studied in Switzerland, Italy, France and Australia and speaks fluently 4 languages.
                    .members__item
                        .members__item_inner
                            .member__socials
                                .member__socials_close.member__socials_close--act
                                .member__socials--items
                                    .member__socials--item
                            .members__item_inner--position
                                |Co-Founder, COO and Head of Production
                            .members__item_inner--img
                                img src="img/index__slider_img.png"
                            .members__item_inner--name
                                |Paolo <br>D'ALCIN
                            .members__item_inner--desc
                                |Francesco Dell’Endice is the founder and the CEO of QualySense. He is a rocket scientist and holds a PhD in Natural Sciences and Spectroscopy. He has studied in Switzerland, Italy, France and Australi666.
                    .members__item
                        .members__item_inner
                            .member__socials
                                .member__socials_close.member__socials_close--act
                                .member__socials--items
                                    .member__socials--item
                            .members__item_inner--position
                                |Co-Founder, COO and Head of Production
                            .members__item_inner--img
                                img src="img/index__slider_img.png"
                            .members__item_inner--name
                                |Paolo <br>D'ALCIN
                    .members__item
                        .members__item_inner
                            .member__socials
                                .member__socials_close.member__socials_close--act
                                .member__socials--items
                                    .member__socials--item
                            .members__item_inner--position
                                |Co-Founder, COO and Head of Production
                            .members__item_inner--img
                                img src="img/index__slider_img.png"
                            .members__item_inner--name
                                |Paolo <br>D'ALCIN

            .members
                .members__head
                    .title__dg-g
                        |<span>Board of Directors</span>
                    .members__head_desc
                        |The QualySense team of technology experts and knowledgeable advisors with proven experience.
                .member__active
                    .member__active_desc
                        .member__active_desc--name
                            |Dr. Francesco DELL'ENDICE
                        .member__active_desc--position
                            |Founder - CEO
                        .member__active_desc--desc
                            |Francesco Dell’Endice is the founder and the CEO of QualySense. He is a rocket scientist and holds a PhD in Natural Sciences and Spectroscopy. He has studied in Switzerland, Italy, France and Australia and speaks fluently 4 languages. He is a passionate entrepreneur, loves working in multicultural environments and bringing impossible ideas to the marketplace with the help of brilliant teammates. He firmly believes that the only keys to success are human capital and passion.
                    .member__active_img
                        .member__active_img--close
                        .member__active_img--src
                            img src="img/index__slider_img.png"
                    .member__active_mobile
                        .members__item_inner
                            .member__socials
                                .member__socials_close.member__socials_close--act
                                .member__socials--items
                                    .member__socials--item
                            .members__item_inner--position
                                |Co-Founder, COO and Head of Production
                            .members__item_inner--img
                                img src="img/index__slider_img.png"
                            .members__item_inner--name
                                |Paolo <br>D'ALCIN

                .members__items
                    .members__item
                        .members__item_inner
                            .member__socials
                                .member__socials_close.member__socials_close--act
                                .member__socials--items
                                    .member__socials--item
                            .members__item_inner--position
                                |Co-Founder, COO and Head of Production
                            .members__item_inner--img
                                img src="img/index__slider_img.png"
                            .members__item_inner--name
                                |Paolo <br>D'ALCIN
                    .members__item
                        .members__item_inner
                            .member__socials
                                .member__socials_close.member__socials_close--act
                                .member__socials--items
                                    .member__socials--item
                            .members__item_inner--position
                                |Co-Founder, COO and Head of Production
                            .members__item_inner--img
                                img src="img/index__slider_img.png"
                            .members__item_inner--name
                                |Paolo <br>D'ALCIN
                    .members__item
                        .members__item_inner
                            .member__socials
                                .member__socials_close.member__socials_close--act
                                .member__socials--items
                                    .member__socials--item
                            .members__item_inner--position
                                |Co-Founder, COO and Head of Production
                            .members__item_inner--img
                                img src="img/index__slider_img.png"
                            .members__item_inner--name
                                |Paolo <br>D'ALCIN
                    .members__item
                        .members__item_inner
                            .member__socials
                                .member__socials_close.member__socials_close--act
                                .member__socials--items
                                    .member__socials--item
                            .members__item_inner--position
                                |Co-Founder, COO and Head of Production
                            .members__item_inner--img
                                img src="img/index__slider_img.png"
                            .members__item_inner--name
                                |Paolo <br>D'ALCIN
                    .members__item
                        .members__item_inner
                            .member__socials
                                .member__socials_close.member__socials_close--act
                                .member__socials--items
                                    .member__socials--item
                            .members__item_inner--position
                                |Co-Founder, COO and Head of Production
                            .members__item_inner--img
                                img src="img/index__slider_img.png"
                            .members__item_inner--name
                                |Paolo <br>D'ALCIN
                    .members__item
                        .members__item_inner
                            .member__socials
                                .member__socials_close.member__socials_close--act
                                .member__socials--items
                                    .member__socials--item
                            .members__item_inner--position
                                |Co-Founder, COO and Head of Production
                            .members__item_inner--img
                                img src="img/index__slider_img.png"
                            .members__item_inner--name
                                |Paolo <br>D'ALCIN
                    .members__item
                        .members__item_inner
                            .member__socials
                                .member__socials_close.member__socials_close--act
                                .member__socials--items
                                    .member__socials--item
                            .members__item_inner--position
                                |Co-Founder, COO and Head of Production
                            .members__item_inner--img
                                img src="img/index__slider_img.png"
                            .members__item_inner--name
                                |Paolo <br>D'ALCIN

