.members__head
  @media (max-width: 920px)
    padding: 30px 0 20px
    flex-wrap: wrap
    .members__head_desc
      width: 100%
      max-width: none

.member__active
  @media (max-width: 920px)
    padding: 0
  @media (max-width: 780px)
    flex-wrap: wrap
    flex-direction: column-reverse
    .member__active_desc
      max-width: none
      margin: 20px 0 0
      width: 100%

.member__active_desc--name
  @media (max-width: 920px)
    font-size: 21px
  @media (max-width: 780px)
    display: none

.member__active_desc--position
  @media (max-width: 780px)
    display: none


.members__item
  @media (max-width: 920px)
    width: 50%
  @media (max-width: 640px)
    width: 100%

.members__items
  @media (max-width: 920px)
    justify-content: flex-start
    margin-bottom: -30px

.members
  @media (max-width: 920px)
    &:last-child
      padding-bottom: 180px

.team__items_bg
  @media (max-width: 920px)
    background-position: bottom

.member__active_mobile
  @media (max-width: 780px)
    display: block
  @media (max-width: 640px)
    width: 100%
    padding: 0 30px

.member__active_img
  @media (max-width: 780px)
    display: none
