.product__content
  @media (max-width: 920px)
    padding: 30px 10px 0

.product__content_main
  @media (max-width: 1040px)
    width: 50%
  @media (max-width: 720px)
    width: 100%
    max-width: none
    padding-right: 0

.product__content_inner
  @media (max-width: 720px)
    flex-wrap: wrap

.product__slider_small
  @media (max-width: 1040px)
    width: calc(100% - 100px)
    .product__slider_small--item
      margin: 0 10px
      &:before
        content: ''
        padding-bottom: 100%
        display: block
  @media (max-width: 720px)
    max-width: none

.product__slider_small
  @media (max-width: 1040px)
    .slick-list
      margin: 0 -10px
    .slick-prev
      left: -50px
    .slick-next
      right: -50px

.product__content_main--slider
  @media (max-width: 720px)
    margin-bottom: 20px

.content__tabs_head--title
  @media (max-width: 720px)
    margin-bottom: 15px
    font-size: 18px


.content__tabs_container--title
  @media (max-width: 720px)
    display: inline-block
    margin: 15px 0
    font-size: 18px
    &:first-child
      margin: 0 0 15px

.content__tabs_head
  @media (max-width: 720px)
    margin-bottom: 20px

.content__tabs_container--point
  @media (max-width: 720px)
    margin-left: 30px

.content__tabs_container--download
  @media (max-width: 1040px)
    height: auto
    &-inner
      padding: 8px 15px 8px 30px
  @media (max-width: 720px)
    max-width: none
    &-inner
      min-height: 55px
      max-width: calc(100% - 20px)

.product__content_tabs
  @media (max-width: 1040px)
    max-width: none
  @media (max-width: 920px)
    margin-right: 0
  @media (max-width: 720px)
    padding: 20px 0 0 0

.product__content_main--text
  @media (max-width: 720px)
    h2
      font-size: 18px
    p
      margin: 0

.product__content_head
  @media (max-width: 640px)
    flex-wrap: wrap
    .products__categories_title
      width: 100%
    .page__recal_btn
      margin: 25px 0 0 0

.product__about_slider
  @media (max-width: 920px)
    max-width: none

.product__about__slider--img
  @media (max-width: 920px)
    display: table
    height: auto
    margin: 0 0 0 20px
    box-shadow: none
    &:before
      content: ''
      padding-bottom: 100%
      display: block

.product__about_slider--item
  @media (max-width: 920px)
    padding: 0
    justify-content: flex-end

.product__about_warpper
  @media (max-width: 920px)
    padding: 0 10px 75px
    flex-direction: column-reverse
    .owl-nav
      display: none

.product__about__slider--desc
  @media (max-width: 920px)
    max-width: none

.product__about_slider
  @media (max-width: 920px)
    height: auto
    .owl-dots
      width: 100%
      right: 50%
      transform: translateX(50%)
      top: auto
      bottom: -20px

.product__about__slider
  @media (max-width: 640px)
    &--rate
      margin-bottom: 5px
    &--title
      font-size: 14px
      margin-bottom: 0
    &--desc
      margin-top: 15px
      font-size: 14px
      padding: 0
    &--name
      font-size: 14px
      margin-top: 15px
    &--img
      max-width: 180px

.product__about_desc
  @media (max-width: 920px)
    margin: 0 0 40px

.product__form_wrapper
  .index_form_table
    width: 50%
    right: 50px
  @media (max-width: 920px)
    .index__form_inner
      background: none
      width: 100%
      margin: -60px 0 0
    .index_form_table
      width: 100%
      right: 0

