.product__page  
    .product__content_wrapper.wrapper

        .products__sidebar
            .products__sidebar_inner
                .sidebar__category_item
                    a.sidebar__category_item--name.sidebar__category_item--name-act href=""
                        |Category Name
                    .sidebar__category_item--posts
                        a.sidebar__category_item--post href=""
                            |Category post
                        a.sidebar__category_item--post href=""
                            |Category post
                .sidebar__category_item
                    a.sidebar__category_item--name href=""
                        |Category#2 Name
                .sidebar__category_item
                    a.sidebar__category_item--name href=""
                        |Pickles, Cucumbers & Gherkins

        .product__content
            .product__content_head
                .product__content_head--section
                    .products__categories_title.title__dg-g
                        |<span>Select Your Product</span>
                    .product__content_main--text
                        |QualySense corn sorting solutions boost throughput and availability while at the same time
                        |increasing yield, quality and food safety.
                .page__recal_btn
                    |Contact Us to Order
            .product__content_inner
                .product__content_main
                    .product__content_main--slider
                        .product__slider_big
                            .product__slider_big--item
                                |1
                            .product__slider_big--item
                                |2
                            .product__slider_big--item
                                |3
                            .product__slider_big--item
                                |4
                            .product__slider_big--item
                                |5

                        .product__slider_small
                            .product__slider_small--item
                                .product__slider_small--content
                                    |1
                            .product__slider_small--item
                                .product__slider_small--content
                                    |2
                            .product__slider_small--item
                                .product__slider_small--content
                                    |3
                            .product__slider_small--item
                                .product__slider_small--content
                                    |4
                            .product__slider_small--item
                                .product__slider_small--content
                                    |5
                            
                    .product__content_main--text
                        h2
                            |QualySense solution in industry.
                        p
                            |QualySense corn sorting solutions boost throughput and availability while at the same time
                            |increasing yield, quality and food safety.
                        p
                            |Sorting machines remove discoloration, insect damage, husk, shank, foreign material, EVM
                            |(extraneous vegetable material) and FEVM (foreign extraneous vegetable material) from fresh
                            |and frozen corn.
                        p
                            |Sorting machines remove discoloration, insect damage, husk, shank, foreign material, EVM
                            |(extraneous vegetable material) and FEVM (foreign extraneous vegetable material) from fresh
                            |and frozen corn.
                        p
                            |QualySense corn sorting solutions boost throughput and availability while at the same time
                            |increasing yield, quality and food safety.
                        p
                            |Sorting machines remove discoloration, insect damage, husk, shank, foreign material, EVM
                            |(extraneous vegetable material) and FEVM (foreign extraneous vegetable material) from fresh
                            |and frozen corn.


                .product__content_tabs
                    .content__tabs_head
                        .content__tabs_head--title
                            |Sorting platform selection
                        .content__tabs_head--items
                            .content__tabs_head--item data-tab="1"
                                .content__tabs_head--item-img
                                    img src="img/product__tabs_item--1.png"
                                .content__tabs_head--item-desc
                                    |QSorter Explorer 
                            .content__tabs_head--item data-tab="2"
                                .content__tabs_head--item-img
                                    img src="img/product__tabs_item--1.png"
                                .content__tabs_head--item-desc
                                    |QSorter Horizon
                    .content__tabs_containers
                        .content__tabs_container data-tab="1"
                            .content__tabs_container--title
                                |Benefits of QualySens corn sorting machines
                            .content__tabs_container--point
                                |Productivity
                            .content__tabs_container--point
                                |Low waste & water use
                            .content__tabs_container--point
                                |24/7 reliability
                            .content__tabs_container--point
                                |Food safety
                            .content__tabs_container--point
                                |Capacity: 1 - 50 tonnes/hr
                            .content__tabs_container--title
                                |Benefits of QualySens corn sorting machines
                            .content__tabs_container--point
                                |24/7 reliability
                            .content__tabs_container--point
                                |Food safety
                            .content__tabs_container--point
                                |Capacity: 1 - 50 tonnes/hr
                            .content__tabs_container--title
                                |Benefits of QualySens corn sorting machines
                            .content__tabs_container--download
                                .content__tabs_container--download-inner
                                    .content__tabs_container--download-text
                                        |Brochure fresh market potatoes & vegetables<span>EN (703,3 KB)</span>
                                    .content__tabs_container--download-icon
                            .content__tabs_container--download
                                .content__tabs_container--download-inner
                                    .content__tabs_container--download-text
                                        |Brochure fresh market potatoes & vegetables<span>EN (703,3 KB)</span>
                                    .content__tabs_container--download-icon

                        .content__tabs_container data-tab="2"
                            .content__tabs_container--title
                                |Benefits of QualySens corn sorting machines
                            .content__tabs_container--point
                                |Productivity
                            .content__tabs_container--point
                                |Low waste & water use
                            .content__tabs_container--point
                                |24/7 reliability
                            .content__tabs_container--point
                                |Food safety
                            .content__tabs_container--point
                                |Capacity: 1 - 50 tonnes/hr
                            .content__tabs_container--title
                                |Benefits of QualySens corn sorting machines
                            .content__tabs_container--point
                                |24/7 reliability
                            .content__tabs_container--point
                                |Food safety
                            .content__tabs_container--point
                                |Capacity: 1 - 50 tonnes/hr
                            .content__tabs_container--title
                                |Benefits of QualySens corn sorting machines
                            .content__tabs_container--download
                                .content__tabs_container--download-inner
                                    .content__tabs_container--download-text
                                        |Brochure fresh market potatoes & vegetables<span>EN (703,3 KB)</span>
                                    .content__tabs_container--download-icon
                            .content__tabs_container--download
                                .content__tabs_container--download-inner
                                    .content__tabs_container--download-text
                                        |Brochure fresh market potatoes & vegetables<span>EN (703,3 KB)</span>
                                    .content__tabs_container--download-icon

    .page__bar.page__bar_grey
        .page__bar_item-l
        .page__bar_item-r
            .page__bar_item-r--content
                .page__bar_item-r--content__subtitle
                        |Costomers about us
