.news__page
    .news__page_wrapper.wrapper
    
        .news__date_wrapper
            .awards__date
                .awards__date_title
                    |News
                .awards__date_items
                    .awards__date_item
                        |2019
                    .awards__date_item.awards__date_item--act
                        |2018
                    .awards__date_item
                        |2017

        .index__news_items
            .index__news_item
                .index__news_item--inner
                    .index__news_item--bg
                        img src="img/news__item_bg.png"
                    .index__news_item--cat
                        |Events
                    .index__news_item--container
                        .index__news_item--date
                            |01.02.2019
                        .index__news_item--desc
                            |The best QSorter Technology 2019 year
            .index__news_item
                .index__news_item--inner
                    .index__news_item--bg
                        img src="img/news__item_bg.png"
                    .index__news_item--cat
                        |Events
                    .index__news_item--container
                        .index__news_item--date
                            |01.02.2019
                        .index__news_item--desc
                            |The best QSorter Technology 2019 year
            .index__news_item
                .index__news_item--inner
                    .index__news_item--bg
                        img src="img/news__item_bg.png"
                    .index__news_item--cat
                        |Events
                    .index__news_item--container
                        .index__news_item--date
                            |01.02.2019
                        .index__news_item--desc
                            |The best QSorter Technology 2019 year
            .index__news_item
                .index__news_item--inner
                    .index__news_item--bg
                        img src="img/news__item_bg.png"
                    .index__news_item--cat
                        |Events
                    .index__news_item--container
                        .index__news_item--date
                            |01.02.2019
                        .index__news_item--desc
                            |The best QSorter Technology 2019 year
            .index__news_item
                .index__news_item--inner
                    .index__news_item--bg
                        img src="img/news__item_bg.png"
                    .index__news_item--cat
                        |Events
                    .index__news_item--container
                        .index__news_item--date
                            |01.02.2019
                        .index__news_item--desc
                            |The best QSorter Technology 2019 year
            .index__news_item
                .index__news_item--inner
                    .index__news_item--bg
                        img src="img/news__item_bg.png"
                    .index__news_item--cat
                        |Events
                    .index__news_item--container
                        .index__news_item--date
                            |01.02.2019
                        .index__news_item--desc
                            |The best QSorter Technology 2019 year
            .index__news_item
                .index__news_item--inner
                    .index__news_item--bg
                        img src="img/news__item_bg.png"
                    .index__news_item--cat
                        |Events
                    .index__news_item--container
                        .index__news_item--date
                            |01.02.2019
                        .index__news_item--desc
                            |The best QSorter Technology 2019 year
            .index__news_item
                .index__news_item--inner
                    .index__news_item--bg
                        img src="img/news__item_bg.png"
                    .index__news_item--cat
                        |Events
                    .index__news_item--container
                        .index__news_item--date
                            |01.02.2019
                        .index__news_item--desc
                            |The best QSorter Technology 2019 year
            .index__news_item
                .index__news_item--inner
                    .index__news_item--bg
                        img src="img/news__item_bg.png"
                    .index__news_item--cat
                        |Events
                    .index__news_item--container
                        .index__news_item--date
                            |01.02.2019
                        .index__news_item--desc
                            |The best QSorter Technology 2019 year

        .awards__pg
            .awards__pg_prev
            .awards__pg_item
                |1
            .awards__pg_item
                |2
            .awards__pg_item
                |3
            .awards__pg_item.awards__pg_item--act
                |4
            .awards__pg_item
                |5
            .awards__pg_next

