.contact__form
    padding-bottom: 130px
    background-image: url(img/contact__form_bg.png)
    background-size: cover
    background-repeat: no-repat

.contact__form_innder--container
    display: flex
    justify-content: space-between
    margin: 0 auto
    max-width: 1120px
    width: 100%
    height: 740px
    background: $white
    box-shadow: 0px 34px 42.24px 1.76px rgba(1, 1, 1, 0.12)
    .index__form_inner
        padding: 40px 40px 0px 40px
        width: 50%
        box-shadow: none
        .input__wrapper
            max-width: calc(100% - 25px)
        .input__submit
            width: calc(100% - 25px)

.contact__form_innder--map
    width: 50%
    height: 100%
    iframe
        width: 100%
        height: 100%
