.contact__title
    padding: 60px 10px 0
    display: flex
    justify-content: center

.contact__page_wrapper
    padding: 0 10px
    display: flex
    flex-direction: column
    align-items: center
    .about__commit_contacts
        border-top: solid 1px #ced1d4
        margin: 15px 0 0
        position: relative
        flex-wrap: wrap
        .about__commit_contact
            margin: 20px 20px 0 0
            white-space: nowrap
            &:last-child
              margin: 20px 0 0
        &:before
            content: ''
            display: block
            position: absolute
            width: 6px
            height: 6px
            background: $white
            border: solid 1px #ced1d4
            border-radius: 50%
            top: -4px
        .about__commit_contact--link
            font-weight: 900

.contact
    .page__head_products
        background-image: url(img/contact__bg.png)

.contacts__item
    width: 50%
    margin: 0 35px
    
.contacts__item_container--title
    font-family: $sofiaPro
    font-size: 26px
    color: #5e5e5c
    font-weight: 900
    line-height: 1.308

.contacts__item_container--subtitle
    text-transform: uppercase
    color: #b9bdc0
    font-size: 12px
    font-weight: 400
    font-family: $proximaNova
    align-items: center
    display: flex
    &:before
        font-size: 10px
        margin: 0px 4px 2px 0px

.contacts
    width: 100%
    display: flex
    align-items: flex-start
    justify-content: center
    margin: 40px -35px 85px
    max-width: 1000px
    width: 100%
