.footer__wrapper
    padding: 50px 0px 20px

.footer
    background: #f4f4f5

.footer__logo
    max-width: 170px
    width: 100%
    display: flex
    flex-direction: column
    align-items: flex-start

.footer__logo_src
    img
        height: 30px

.footer__logo_desc
    margin-top: 30px
    font-size: 14px
    font-family: $sofia
    color: #a1a7ac
    line-height: 1.429
    font-weight: 400

.footer__logo_socials
    margin-top: 20px
    display: flex

.footer__logo_social
    margin: 0 4px
    width: 30px
    height: 30px
    background: $red
    &:first-child
        margin-left: 0px
    &:last-child
        margin-right: 0px
    display: flex
    align-items: center
    justify-content: center
    transition: .5s ease all
    &:before
        color: $white
        transition: .5s ease all
        font-size: 15px
    &:hover
        background: $white
        &:before
            color: $red

.footer__c
    font-family: $sofia
    font-weight: 400
    font-size: 14px
    color: #a1a7ac
    margin-top: 80px

.footer__container
    display: flex
    justify-content: space-between

.footer__nav_item
    display: flex
    flex-direction: column
    align-items: flex-start
    margin: 0 15px
    max-width: 110px
    width: 100%
    &:first-child
        margin-left: 0px
    &:last-child
        margin-right: 0px

.footer__nav
    margin-left: auto
    margin-right: 30px
    padding-top: 10px
    max-width: 660px
    width: 100%
    justify-content: space-between
    display: flex

.footer__nav_item--contacts
    max-width: 200px
    width: 100%
    padding-top: 10px
    .footer__nav_item--title
        color: $red

.footer__nav_item--title
    display: block
    position: relative
    font-size: 16px
    font-family: $proxima
    font-weight: 400
    color: rgb(94, 94, 92)
    margin-bottom: 45px
    &:before
        content: ''
        display: block
        width: 15px
        height: 1px
        background: $red
        position: absolute
        bottom: -15px
        left: 3px
    &:after
        content: ''
        display: block
        width: 3px
        height: 3px
        border-radius: 50%
        border: solid 1px $red
        background: $white
        position: absolute
        z-index: 1
        bottom: -16px
        left: 0px

.footer__nav_item--link
    position: relative
    font-size: 14px
    font-family: $proxima
    font-weight: 400
    color: #a1a7ac
    margin-bottom: 16px
    transition: .5s ease all
    &:hover
        color: $red

.footer__nav_item--link-number
    display: flex
    align-items: center
    position: relative
    padding-left: 20px
    &:before
        position: absolute
        color: $red
        font-size: 14px
        left: 0px
        top: 0px

.footer__nav_item--link-email
    display: flex
    align-items: center
    position: relative
    padding-left: 20px
    &:before
        position: absolute
        color: $red
        font-size: 11px
        left: 0px
        top: 0px

.footer__nav_item--link-address
    display: flex
    align-items: center
    position: relative
    line-height: 1.43
    padding-left: 20px
    &:before
        position: absolute
        color: $red
        font-size: 13px
        left: 0px
        top: 0px