.header
  position: absolute
  max-width: 1170px
  width: 100%
  z-index: 5
  right: 50%
  transform: translate(50%, 0)
  background: $white

.nav__container
  &:hover
    .nav__item
      color: $red
      transition: .5s ease all
  
.header__wrapper
  height: 80px
  display: flex
  align-items: center
  background: $white
  justify-content: flex-start
  padding: 0px 40px 0px 0px

.header__wrapper_container
  display: flex
  align-items: center
  height: 100%
  &:first-child
    background: $gray
    padding: 0 40px
  &:last-child
    margin-left: auto

.nav
  display: flex
  align-items: center
  padding: 0px 0px 0px 40px

.header__search
  height: 17px
  width: 17px
  &:before
    color: #5e5e5c

.logo
  margin: 0px 75px 0px 0px 

.logo__src
  height: 28px

.nav__container
  display: flex
  align-items: center
  margin: 0px 14px
  position: relative
  &:first-child
    margin: 0px 14px 0px 0px
  &:last-child
    margin: 0px 0px 0px 14px
    &:after
      display: none
  &:after
    display: block
    content: ''
    width: 0
    height: 0
    border-style: solid
    border-width: 0 3px 3px 3px
    border-color: transparent transparent #5e5e5c transparent
    transform: rotate(180deg)
    margin-left: 6px
  &:hover
    .nav__container_menu--wrapper
      display: block

.nav__item
  transition: .5s ease all
  font-family: 'ProximaNova'
  font-weight: 500
  color: #5e5e5c
  font-size: 14px

.nav__container_menu--item
  font-family: 'ProximaNova'
  font-weight: 500
  color: #5e5e5c
  font-size: 14px
  display: flex
  white-space: nowrap
  align-items: center
  margin-bottom: 10px
  transition: .5s ease all
  &:last-child
    margin-bottom: 0px
  &:hover
    color: $red
    transition: .5s ease all

.nav__container_menu--wrapper
  display: none
  position: absolute
  top: 10px
  right: 50%
  transform: translate(50%, 0%)
  padding-top: 25px

.nav__container_menu
  box-shadow: 0px 12px 42.24px 1.76px rgba(1, 1, 1, 0.34)
  padding: 13px 20px 13px 13px
  position: relative
  background: $white
  &:after
    display: block
    content: ''
    width: 0
    height: 0
    border-style: solid
    border-width: 0 5px 5px 5px
    border-color: transparent transparent $white transparent
    margin-left: 6px
    top: -3px
    z-index: 1
    right: 50%
    position: absolute
    transform: translate(50%, 0%)

.nav__container_menu--item-img 
  width: 28px
  display: flex
  align-items: center
  justify-content: center
  height: 28px
  border-radius: 50%
  background: $red
  margin-right: 8px
  img
    height: 15px
    box-shadow: 1.462px 11.911px 16.2px 1.8px rgba(0,0,0,.35)
  &__star
    img
      margin-left: 1px

.lang
  width: 32px
  font-family: 'ProximaNova'
  font-weight: 500
  display: flex
  align-items: center
  color: #5e5e5c
  font-size: 14px
  text-transform: uppercase
  &:after
    display: block
    content: ''
    width: 0
    height: 0
    border-style: solid
    border-width: 0 3px 3px 3px
    border-color: transparent transparent #5e5e5c transparent
    transform: rotate(180deg)
    margin-left: 6px