.work
    background: 
    .page__head_products
        background-image: url(img/work__bg.png)

.work__main
    background: #ffffff
    .page__bar_item-l
        background: none

.work__main_wrapper
    display: flex
    z-index: 1
    position: relative
    padding: 70px 0px
    align-items: flex-start
    .about__commit_contacts
        margin-top: 30px
    .page__subtitle
        margin-bottom: 20px

.work__main_desc
    max-width: 600px
    width: 100%

.page__text
    margin-top: 20px

.work__main_img
    height: 600px
    position: absolute
    z-index: -1
    right: 0px
    margin-top: 40px
    img
        height: 100%
        width: auto

.work__contactus
    .page__bar_item-l
        background: $red
    .page__bar_item-r
        position: relative
        z-index: 2

.work__slider
    background-image: url(img/work__slider_bg.png)
    background-size: cover
    background-position-y: 0px