.opp__join_wrapper
  @media (max-width: 920px)
    flex-direction: column-reverse

.opp__join_desc
  @media (max-width: 920px)
    max-width: none

.opp__join_img
  @media (max-width: 920px)
    left: auto
    top: auto
    width: 50%
    margin: 40px auto 0
  @media (max-width: 480px)
    width: 100%

.opp__join_wrapper
  margin-bottom: 100px
  padding: 30px 10px 40px
  @media (max-width: 920px)
    margin-bottom: 0px
    &:after
      left: 0
      height: auto
      bottom: 180px

.page__text
  @media (max-width: 920px)
    p
      margin-bottom: 25px
      &:last-child
        margin-bottom: 0

.opp__join
  @media (max-width: 920px)
    .page__bar
      height: 50px
      .page__bar_item-l
        width: 0
        padding: 0
      .page__bar_item-r
        width: 100%
        padding: 0 20px
        justify-content: flex-start

.opp__pdf_wrapper
  @media (max-width: 920px)
    padding: 15px 10px 30px
  @media (max-width: 480px)
    align-items: flex-start

.opp__job_wrapper
  @media (max-width: 920px)
    .title__rd-g
      font-size: 40px
    padding: 30px 10px 40px
    .opp__job_items
      margin-top: 20px
    .opp__job_item--more
      padding-bottom: 15px
      padding-right: 0
  @media (max-width: 480px)
    align-items: flex-start


.page__text_item
  @media (max-width: 480px)
    width: 100%
    margin-left: 20px

.opp__pdf_file
  @media (max-width: 480px)
    flex-wrap: wrap
    height: auto
    padding-bottom: 20px

.opp__pdf_file--desc
  @media (max-width: 480px)
    width: 100%
    &-title
      font-size: 18px

.opp__pdf_file--btn
  @media (max-width: 480px)
    margin: 15px 0 0

.opp__job_item--info-title
  @media (max-width: 480px)
    font-size: 21px

.opp__job_item--more
  @media (max-width: 480px)
    font-size: 14px
