.opp__join
    .opp__join_wrapper.wrapper
        .opp__join_img.png
            img src="img/opp__join_img.png"

        .opp__join_desc
            .page__subtitle
                |Jobs with us
            .title__dg-g
                |<span>How to hoin </span><br><span>Our Team</span>
            .page__text
                p
                    |Want to join QualySense and you don't know how? Simple ...
                p
                    |<span>Check our open positions.</span> If you think you're a good fit, send us your complete
                    |application (in pdf) at the indicated email address. <span>No open positions?</span> Apply
                    |spontaneously and send us your application dossier at <a href="mailto:jobs@qualysense.com">
                    |jobs@qualysense.com</a> for positions in Europe or at <a href="mailto:usajobs@qualysense.com">
                    |usajobs@qualysense.com</a> for positions in United States of America. We will contact you as soon
                    |as we have something that suits your profile.
                p
                    |<span>We strive to deliver high quality
                    |standards in every thing we do and we expect job applications properly prepared in PDF format and
                    |including:</span>
            .page__text_items
                .page__text_item
                    |Motivation letter
                .page__text_item
                    |Curriculum Vitae
            .page__text
                |<span>Additionally, you may include the following documents:</span>
            .page__text_items
                .page__text_item
                    |Reference letters
                .page__text_item
                    |Copy of degrees
                .page__text_item
                    |Copy of transcripts
                .page__text_item
                    |Any other relevant documents

    .page__bar.page__bar_grey.page__bar_reserv
        .page__bar_item-l
        .page__bar_item-r
            .page__bar_item-r--content
                .page__bar_item-r--content__subtitle
                    |Customized Solutions
