.opp__pdf
    .opp__pdf_wrapper.wrapper
        .title__dg-g
            |<span>Our Job Openings </span>
        .opp__pdf_files
            .opp__pdf_file
                .opp__pdf_file--desc
                    .opp__pdf_file--desc-title
                        |Computer Vision Scientist
                    .opp__pdf_file--desc-date
                        |01.02.2018
                a.opp__pdf_file--btn href=""
                    |Download PDF
            .opp__pdf_file
                .opp__pdf_file--desc
                    .opp__pdf_file--desc-title
                        |Computer Vision Scientist
                    .opp__pdf_file--desc-date
                        |01.02.2018
                a.opp__pdf_file--btn href=""
                    |Download PDF
            .opp__pdf_file
                .opp__pdf_file--desc
                    .opp__pdf_file--desc-title
                        |Computer Vision Scientist
                    .opp__pdf_file--desc-date
                        |01.02.2018
                a.opp__pdf_file--btn href=""
                    |Download PDF
            .opp__pdf_file
                .opp__pdf_file--desc
                    .opp__pdf_file--desc-title
                        |Computer Vision Scientist
                    .opp__pdf_file--desc-date
                        |01.02.2018
                a.opp__pdf_file--btn href=""
                    |Download PDF
