.opp__job
    .opp__job_wrapper.wrapper
        .title__rd-g
            |<span>Job Opportunities</span>
        .opp__job_items
            .opp__job_item.opp__job_item--active
                .opp__job_item--info
                    .opp__job_item--info-title
                        |IAESTE Internships
                    .opp__job_item--info-btn
                .opp__job_item--more
                    |We are looking for dedicated and motivated individuals to proudly represent QualySense as Sales Associates. Your role will help us spreading our innovative QSorter solutions worldwide. If you have a technical background, at least 3 years of sales experience in the food or agricultural industry, master customer relationships and sales cycles, want to travel at least 60% of the time and excited about the challenge, please send your CV and motivation letter to <a href="mailto:qualysense">francesco@qualysense.com</a>
            .opp__job_item
                .opp__job_item--info
                    .opp__job_item--info-title
                        |IAESTE Internships
                    .opp__job_item--info-btn
            .opp__job_item
                .opp__job_item--info
                    .opp__job_item--info-title
                        |IAESTE Internships
                    .opp__job_item--info-btn
                    
                .opp__job_item--more