.awards
    .page__head_products
        background-image: url('img/awards__bg.png')
    
.awards__items_wrapper
    display: flex
    flex-direction: column
    align-items: center
    
.awards__date_title
    font-family: $sofiaPro
    font-weight: 400
    color: $red
    font-size: 24px
    &:before
        color: $red
        font-size: 17px

.awards__date
    margin: 80px 0px 45px
    display: flex
    width: 100%
    justify-content: space-between
    padding-bottom: 25px
    padding-left: 25px
    position: relative
    &:before
        content: ''
        display: block
        width: 100%
        background: $red
        height: 2px
        position: absolute
        bottom: 0px
        left: 0px

.awards__date_items
    display: flex

.awards__date_item
    font-family: $sofiaPro
    font-weight: 400
    color: #d6d6d5
    font-size: 22px
    padding: 0px 40px
    position: relative
    &:before
        content: ''
        display: block
        width: 100%
        background: #d6d6d5
        height: 2px
        position: absolute
        bottom: -25px
        left: 0px
    &--act
        color: $red
        &:before
            background: $red

.index__news_form--white
    margin: 30px 0px 0px 0px
    .index__news_form--input
        color: $white
        border-color: $white

.awards__items
    display: flex
    flex-wrap: wrap

.awards__item
    width: 33.33%
    height: 300px
    margin-bottom: 30px
    padding: 0px 15px
    position: relative
    &:hover
        .award__item_container
            top: -20px
            transition: .5s ease all
            box-shadow: 45.559px 58.313px 77.28px 6.72px rgba(1, 1, 1, 0.24)
        .award__item_img
            background: $red
            transition: .5s ease all
        img
            opacity: .4
            transition: .5s ease all
    
.award__item_container
    position: relative
    top: 0px
    transition: .5s ease all
    
.award__item_img
    height: 190px
    background: #f7f7f7
    width: 100%
    position: relative
    overflow: hidden
    transition: .5s ease all
    img
        position: absolute
        top: -95px
        left: -60px
        opacity: 1
        transition: .5s ease all

.award__item_desc
    height: 110px
    width: 100%
    text-align: right
    padding: 16px 25px 10px 25px
    background: $red

.award__item_desc--date
    font-family: $sofiaPro
    font-weight: 400
    font-size: 14px
    color: $white
    margin-bottom: 5px

.award__item_desc--text
    font-family: $sofiaPro
    font-weight: 600
    font-size: 21px
    color: $white
    line-height: 1.143

.awards__pg
    margin: 30px auto 90px auto
    display: flex

.awards__pg_prev
    width: 30px
    height: 30px
    background: $red
    display: flex
    align-items: center
    justify-content: center
    margin: 0px 20px 0px 0px
    &:before
        transform: rotate(180deg)
        color: $white
        width: 12px
        font-size: 14px

.awards__pg_next
    width: 30px
    height: 30px
    background: $red
    display: flex
    align-items: center
    justify-content: center
    margin: 0px 0px 0px 20px
    &:before
        color: $white
        width: 10px
        font-size: 14px

.awards__pg_item
    margin: 0 15px
    width: 30px
    height: 30px
    display: flex
    align-items: center
    justify-content: center
    font-weight: 600
    font-family: $sofiaPro
    color: #5e5e5c
    font-size: 16px
    &--act 
        color: $red