.page__head.page__head_products
    .page__head_wrapper.wrapper
        .page__head_b
            a.page__head_b--item href=""
                |Home
            a.page__head_b--item href=""
                |Home
            a.page__head_b--item.page__head_b--item-act href=""
                |Home
        .page__head_title.title__w-g
            |<span>Committed</span> <br><span>to customer support.</span>