.events
    .page__head_products
        background-image: url('img/news__header_bg.png')
      
.event__page_item--inner
    position: relative
    height: 100%

.events__page_wrapper
    padding: 80px 0px 90px
    display: flex
    align-items: center
    flex-direction: column
    .awards__date
        padding-left: 0px
        margin-top: 0px
    .awards__pg
        margin: 15px 0px 0px

.events__date_titles
    width: 100%
    display: flex
    .awards__date_title
        padding: 0px 0px 0px 25px
        color: #d6d6d5
        position: relative
        width: 50%
        &:before
            color: #d6d6d5
        &:after
            content: ''
            display: block
            width: 100%
            position: absolute
            left: 0
            height: 2px
            z-index: 2
            bottom: -25px
            background: #d6d6d5
    .awards__date_title--act
        color: $red
        &:before
            color: $red
        &:after
            background: $red

.event__page_items
    width: 100%
    display: flex
    flex-wrap: wrap

.event__page_item
    width: 33.33%
    height: 300px
    padding: 0 15px
    margin-bottom: 30px
    position: relative
    top: 0
    transition: .5s ease all
    &:hover
        top: -20px
        .event__page_item--inner
            transition: .5s ease all
            box-shadow: 45.559px 58.313px 77.28px 6.72px rgba(1, 1, 1, 0.24)
        
.event__page_item--inner-img
    width: 100%
    height: 100%
    position: relative
    overflow: hidden
    display: flex
    align-items: center
    justify-content: center
    img
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        width: auto
        height: 300px

.event__page_item--inner-desc
    position: absolute
    bottom: 0
    height: 105px
    width: 100%
    background: $red
    text-align: right
    padding: 8px 25px 8px 10px
    display: flex
    justify-content: flex-start
    flex-direction: column

.event__page_item--inner-desc--date
    font-family: $sofiaPro
    color: $white
    font-size: 14px
    font-weight: 400
    margin-bottom: 2px

.event__page_item--inner-desc--title
    font-family: $sofiaPro
    color: $white
    font-size: 21px
    font-weight: 600
    line-height: 1.143
    max-height: 100%
    overflow: hidden
