.team__items_wrapper
    padding: 0 10px

.team
    .page__head_products
        background-image: url(img/team__bg.png)

.team__items_bg
    background-image: url('img/members__bg.png')
    background-size: cover
    background-repeat: no-repeat

.members
    &:last-child
        padding-bottom: 70px
    
.members__head
    display: flex
    align-items: center
    .title__dg-g
        margin-right: 55px
    .members__head_desc
        max-width: 360px
        width: 100%
        line-height: 1.75
        font-family: $proximaNova
        font-weight: 400
        color: #727b82
        font-size: 16px
        line-height: 1.687

.members__head
    padding: 65px 0px

.member__active
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 30px
    margin-bottom: 60px
    
.member__active_img
    width: 440px
    height: 410px
    padding: 40px
    box-shadow: 0px 34px 42.24px 1.76px rgba(1, 1, 1, 0.12)
    display: flex
    align-items: center
    justify-content: center 
    position: relative
    background-color: $white

.member__active_img--src
    width: 280px
    height: 280px
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    position: relative
    overflow: hidden
    img
        position: absolute

.member__active_img--close
    position: absolute

.member__active_desc
    max-width: 555px
    margin-right: 55px

.member__active_desc--name
    font-family: $sofiaPro
    font-weight: 900
    color: #5e5e5c
    font-size: 24px
    text-transform: uppercase
    margin-bottom: 5px

.member__active_desc--position
    font-family: $sofiaPro
    font-weight: 300
    color: #989fa4
    font-size: 16px
    margin-bottom: 20px

.member__active_desc--desc
    font-family: $proximaNova
    font-weight: 400
    color: #727b82
    font-size: 16px
    line-height: 1.687

.member__active_img--close
    width: 58px
    height: 58px
    background: $red
    display: flex
    align-items: center
    justify-content: center
    position: absolute
    top: 0px
    left: -58px
    cursor: pointer
    &:before
        content: ''
        display: block
        width: 12px
        height: 2px
        background: $white
        transform: rotate(45deg)
        position: absolute
    &:after
        content: ''
        display: block
        width: 12px
        height: 2px
        background: $white
        transform: rotate(-45deg)
        position: absolute

.member__socials_close
    width: 58px
    height: 58px
    background: $red
    display: flex
    align-items: center
    justify-content: center
    position: absolute
    bottom: 0px
    right: 0px
    cursor: pointer
    &:before
        content: ''
        display: block
        width: 12px
        height: 2px
        background: $white
        transform: rotate(45deg)
        position: absolute
    &:after
        content: ''
        display: block
        width: 12px
        height: 2px
        background: $white
        transform: rotate(-45deg)
        position: absolute

.members__items
    padding: 0 15px
    flex-wrap: wrap
    display: flex
    justify-content: center

.members__item
    width: 33.33%
    padding: 0 15px 40px 15px
    cursor: pointer
    &:hover
        .members__item_inner
            transition: .5s ease all
            box-shadow: 0px 34px 42.24px 1.76px rgba(1, 1, 1, 0.12)
            top: -15px

.members__item_disable
    opacity: .6
    pointer-events: none
    
.members__item_inner
    background: $white
    position: relative
    transition: .5s ease all
    width: 100%
    height: 100%
    top: 0
    padding: 20px 20px 130px

.members__item_inner--position
    display: inline-block
    float: right
    height: 50px
    font-family: $sofiaPro
    font-size: 16px
    color: #9ca3a8
    font-weight: 400
    text-transform: uppercase

.members__item_inner--img
    width: calc(100% - 60px)
    overflow: hidden
    position: relative
    align-items: center
    justify-content: center
    display: table
    margin: 0 30px
    border-radius: 50%
    &:before
        content: ''
        padding-bottom: 100%
        float: left
    img
        height: 100%
        position: absolute
        filter: gray
        -webkit-filter: grayscale(1)
        filter: grayscale(1)
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

.members__item_inner--name
    position: absolute
    bottom: 40px
    height: 50px
    margin: 0 auto 0 0
    width: 170px
    font-family: $sofiaPro
    font-weight: 900
    color: #858583
    font-size: 24px

.member__socials
    position: absolute
    right: 0px
    bottom: 0px

.member__socials_close--act
    &:before
        transform: rotate(0deg)
    &:after
        transform: rotate(90deg)

.member__active_mobile
    display: none
    width: 440px
    .members__item_inner--img
      img
        filter: none

.members__item_inner--desc
    display: none