.awards__items
    .awards__items_wrapper.wrapper
        .awards__date
            .awards__date_title
                |Awards
            .awards__date_items
                .awards__date_item
                    |2019
                .awards__date_item.awards__date_item--act
                    |2018
                .awards__date_item
                    |2017
        .awards__items
            .awards__item
                .award__item_container
                    .award__item_img
                        img src="img/award.png"
                    .award__item_desc
                        .award__item_desc--date
                            |31.12.2018
                        .award__item_desc--text
                            |QualySense winner of Red Herring Top 100 Europe.
            .awards__item
                .award__item_container
                    .award__item_img
                        img src="img/award.png"
                    .award__item_desc
                        .award__item_desc--date
                            |31.12.2018
                        .award__item_desc--text
                            |QualySense winner of Red Herring Top 100 Europe.
            .awards__item
                .award__item_container
                    .award__item_img
                        img src="img/award.png"
                    .award__item_desc
                        .award__item_desc--date
                            |31.12.2018
                        .award__item_desc--text
                            |QualySense winner of Red Herring Top 100 Europe.
            .awards__item
                .award__item_container
                    .award__item_img
                        img src="img/award.png"
                    .award__item_desc
                        .award__item_desc--date
                            |31.12.2018
                        .award__item_desc--text
                            |QualySense winner of Red Herring Top 100 Europe.
            .awards__item
                .award__item_container
                    .award__item_img
                        img src="img/award.png"
                    .award__item_desc
                        .award__item_desc--date
                            |31.12.2018
                        .award__item_desc--text
                            |QualySense winner of Red Herring Top 100 Europe.
            .awards__item
                .award__item_container
                    .award__item_img
                        img src="img/award.png"
                    .award__item_desc
                        .award__item_desc--date
                            |31.12.2018
                        .award__item_desc--text
                            |QualySense winner of Red Herring Top 100 Europe.
            .awards__item
                .award__item_container
                    .award__item_img
                        img src="img/award.png"
                    .award__item_desc
                        .award__item_desc--date
                            |31.12.2018
                        .award__item_desc--text
                            |QualySense winner of Red Herring Top 100 Europe.
            .awards__item
                .award__item_container
                    .award__item_img
                        img src="img/award.png"
                    .award__item_desc
                        .award__item_desc--date
                            |31.12.2018
                        .award__item_desc--text
                            |QualySense winner of Red Herring Top 100 Europe.
            .awards__item
                .award__item_container
                    .award__item_img
                        img src="img/award.png"
                    .award__item_desc
                        .award__item_desc--date
                            |31.12.2018
                        .award__item_desc--text
                            |QualySense winner of Red Herring Top 100 Europe.
            .awards__item
                .award__item_container
                    .award__item_img
                        img src="img/award.png"
                    .award__item_desc
                        .award__item_desc--date
                            |31.12.2018
                        .award__item_desc--text
                            |QualySense winner of Red Herring Top 100 Europe.
            .awards__item
                .award__item_container
                    .award__item_img
                        img src="img/award.png"
                    .award__item_desc
                        .award__item_desc--date
                            |31.12.2018
                        .award__item_desc--text
                            |QualySense winner of Red Herring Top 100 Europe.
            .awards__item
                .award__item_container
                    .award__item_img
                        img src="img/award.png"
                    .award__item_desc
                        .award__item_desc--date
                            |31.12.2018
                        .award__item_desc--text
                            |QualySense winner of Red Herring Top 100 Europe.
                        
        .awards__pg
            .awards__pg_prev
            .awards__pg_item
                |1
            .awards__pg_item
                |2
            .awards__pg_item
                |3
            .awards__pg_item.awards__pg_item--act
                |4
            .awards__pg_item
                |5
            .awards__pg_next
