.awards__items_wrapper
  @media (max-width: 920px)
    padding: 0 10px

.awards__date
  @media (max-width: 920px)
    padding: 10px 0 0 10px
    margin: 30px 0 !important
    &:before
      bottom: auto
      top: 0
    .awards__date_title
      display: flex
      font-size: 14px
      &:after
        top: -10px
        bottom: auto
  @media (max-width: 420px)
    .awards__date_title
      align-items: flex-start
      &:before
        font-size: 12px

.awards__date_item
  @media (max-width: 920px)
    font-size: 14px
    padding: 0 20px
    &:before
      bottom: auto
      top: -10px

.awards__item
  @media (max-width: 860px)
    width: 50%
    padding: 0 5px
    margin-bottom: 10px
  @media (max-width: 640px)
    width: 100%

.awards__pg
  @media (max-width: 920px)
    margin: 20px auto 65px

.awards__pg_item
  @media (max-width: 640px)
    margin: 0 5px

.award__item_desc--text
  @media (max-width: 420px)
    font-size: 16px

.awards__pg_next
  @media (max-width: 360px)
    margin: 0 0 0 10px
