.technology__qh
    .technology__auto
        background-image: url('img/technology__auto_bg.png')
        background-size: cover
        background-repeat: no-repeat
        
    .technology__auto_wrapper
        padding: 80px 0px 70px
        display: flex
        justify-content: space-between
        align-items: center
        .page__subtitle
            margin-bottom: 20px

    .rechnolog__auto_item--text
        margin-top: 30px

    .technology__auto_item
        &:first-child
            max-width: 570px
            width: 100%
        &:last-child
            max-width: 490px
            width: 100%
            position: relative
            overflow: hidden
            img
                width: 100%
                height: auto

    .rechnolog__auto_item--text
        width: 100%
        font-size: 16px
        font-family: $proximaNova
        color: #6b767d
        line-height: 1.687
        font-weight: 400

    .technology__robot_desc--icon
        width: 35px
        height: 35px
        background: #cf1e18
        border-radius: 50%
        overflow: hidden
        display: flex
        justify-content: center
        align-items: center
        box-shadow: 0px 34px 42.24px 1.76px rgba(1, 1, 1, 0.24)
        margin: 10px 15px 0px 0px
        &:before
            color: $white
            font-size: 18px

    .technology__robot_desc--text
        font-size: 18px
        color: $white
        font-weight: 400
        font-family: $proximaNova
        line-height: 1.556
        max-width: 300px

    .technology__robot_desc
        display: flex
        position: absolute
        align-items: flex-start

    .technology__robot_desc--reserv
        text-align: right
        flex-direction: row-reverse
        .technology__robot_desc--icon
            margin: 10px 0px 0px 15px

    .technology__explorer_robot--1
        .technology__robot_desc--1
            top: 390px
            left: -130px
        .technology__robot_desc--2
            top: 50px
            right: 230px
        .technology__robot_desc--3
            top: 135px
            right: 0px
        .technology__robot_desc--4
            top: 230px
            right: 0px
        .technology__robot_desc--5
            top: 445px
            right: 0px
        .technology__robot_desc--6
            right: 230px
            top: 505px

.page__subtitle
    position: relative
    font-family: $sofiaPro
    font-weight: 400
    z-index: 1
    display: flex
    align-items: center
    color: $dark-gray
    &:before
        content: ''
        margin-right: 20px
        display: block
        width: 65px
        height: 1px
        background: $red
    &:after
        position: absolute
        content: ''
        display: block
        width: 5px
        height: 5px
        border-radius: 50%
        border: solid 1px $red
        left: 0px
        top: 6px
        background: $gray

.title__dg-rd-w
    position: relative
    z-index: 1
    max-width: 700px
    font-size: 54px
    font-family: $sofiaPro
    color: #5e5e5c
    font-weight: 600
    span
        position: relative
        &:before
            z-index: -1
            content: ''
            display: block
            position: absolute
            width: 100%
            height: 15px
            height: 15px
            background: $white
            bottom: 10px
            left: 0
    .red__span
        position: relative
        color: $red

.title__dg-rd-g
    position: relative
    z-index: 1
    max-width: 700px
    font-size: 54px
    font-family: $sofiaPro
    color: #5e5e5c
    font-weight: 600
    span
        position: relative
        &:before
            z-index: -1
            content: ''
            display: block
            position: absolute
            width: 100%
            height: 15px
            height: 15px
            background: #efefee
            bottom: 10px
            left: 0
    .red__span
        position: relative
        color: $red