.technology__qh
    .technology__explorer_wrapper
        padding: 120px 0px 440px
        position: relative

    .technology__explorer
        background-image: url('img/technology__explorer_img.png')
        background-size: cover
        background-repeat: no-repeat

    .technology__explorer_text
        width: 100%
        font-size: 16px
        font-family: $proximaNova
        color: $white
        line-height: 1.687
        font-weight: 400
        max-width: 485px
        width: 100%
        margin-top: 30px

    .technology__explorer_robot--1
        position: absolute
        width: 792px
        height: 641px
        top: 130px
        right: 0px
        position: absolute