
footer.footer
    .footer__wrapper.wrapper
        .footer__container
            .footer__logo 
                a.footer__logo_src href="/"
                    img src="img/05_logotype.svg"
                .footer__logo_desc
                    |We build extremely complex solutions that are made user friendly
                .footer__logo_socials
                    a.footer__logo_social.footer__logo_social--f href="https://www.facebook.com/qualysensesorters"
                    a.footer__logo_social.footer__logo_social--t href="https://twitter.com/QualySense"
                    a.footer__logo_social.footer__logo_social--l href="https://www.linkedin.com/company/qualysense-ag/"
            nav.footer__nav
                .footer__nav_item
                    .footer__nav_item--title
                        |Products
                    a.footer__nav_item--link href=""
                        |Solutions
                    a.footer__nav_item--link href=""
                        |Product Care
                    a.footer__nav_item--link href=""
                        |Custom Design
                .footer__nav_item
                    .footer__nav_item--title
                        |Technology
                    a.footer__nav_item--link href=""
                        |QSorter Technology
                    a.footer__nav_item--link href=""
                        |QSorter Explorer
                    a.footer__nav_item--link href=""
                        |QSorter Horizon
                .footer__nav_item
                    .footer__nav_item--title
                        |Company
                    a.footer__nav_item--link href=""
                        |About Us
                    a.footer__nav_item--link href=""
                        |Team
                    a.footer__nav_item--link href=""
                        |Awards
                    a.footer__nav_item--link href=""
                        |Partners
                .footer__nav_item
                    .footer__nav_item--title
                        |Career
                    a.footer__nav_item--link href=""
                        |Why Work with us
                    a.footer__nav_item--link href=""
                        |Current Opportunities
                .footer__nav_item
                    .footer__nav_item--title
                        |News & Events
                    a.footer__nav_item--link href=""
                        |News
                    a.footer__nav_item--link href=""
                        |Events
            .footer__nav_item--contacts
                a.footer__nav_item--title href="contacts.html"
                    |Contacts
                a.footer__nav_item--link.footer__nav_item--link-number href="tel:41448243584"
                    |+41 (0) 44 824 35 84
                a.footer__nav_item--link.footer__nav_item--link-email href="mailto:info@qualysense.com"
                    |info@qualysense.com
                a.footer__nav_item--link.footer__nav_item--link-address href="contacts.html"
                    |QualySense AG Unterrietstrasse 2A CH-8152 Glattbrugg Switzerland
        .footer__c
            |© Copyright 2010 - 2019 QualySense AG