header.header
  .header__wrapper
    .header__wrapper_container
      .burger
        span
        p.burger-menu
          |Menu
      a.logo href="index.html"
        img.logo__src src="img/05_logotype.svg"
      .header__search.header__search_mobile
      .lang
        .lang__item
          |EN

    .header__wrapper_container
      nav.nav
        .nav__container
          a.nav__item href="products.html"
            |Products
          .nav__container_menu--wrapper
            .nav__container_menu
              a.nav__container_menu--item href="products.html"
                .nav__container_menu--item-img
                  img src="img/nav__icons/01_solutions.svg"
                |Solutions
              a.nav__container_menu--item href="products.html"
                .nav__container_menu--item-img
                  img src="img/nav__icons/01_product_care.svg"
                |Product Care
              a.nav__container_menu--item href="products.html"
                .nav__container_menu--item-img.nav__container_menu--item-img__star
                  img src="img/nav__icons/01_custom_design.svg"
                |Custom Design
        .nav__container
          a.nav__item href="javascript:void(0);"
            |Technology
          .nav__container_menu--wrapper
            .nav__container_menu
              a.nav__container_menu--item href="technology__qh.html"
                .nav__container_menu--item-img
                  img src="img/nav__icons/01_qs_technology.svg"
                |QSorter Technology
              a.nav__container_menu--item href="technology__qe.html"
                .nav__container_menu--item-img
                  img src="img/nav__icons/01_qs_hor.svg"
                |QSorter Explorer
              a.nav__container_menu--item href="technology__qh.html"
                .nav__container_menu--item-img
                  img src="img/nav__icons/01_qs_explorer.svg"
                |QSorter Horizon
        .nav__container
          a.nav__item href="javascript:void(0);"
            |Company
          .nav__container_menu--wrapper
            .nav__container_menu
              a.nav__container_menu--item href="about.html"
                .nav__container_menu--item-img
                  img src="img/nav__icons/01_about.svg"
                |About Us
              a.nav__container_menu--item href="team.html"
                .nav__container_menu--item-img
                  img src="img/nav__icons/01a_team.svg"
                |Team
              a.nav__container_menu--item href="awards.html"
                .nav__container_menu--item-img
                  img src="img/nav__icons/01_awards.svg"
                |Awards
              a.nav__container_menu--item href="partners.html"
                .nav__container_menu--item-img
                  img src="img/nav__icons/01_partners.svg"
                |Partners
        .nav__container
          a.nav__item href="javascript:void(0);"
            |Career
          .nav__container_menu--wrapper
            .nav__container_menu
              a.nav__container_menu--item href="work.html"
                .nav__container_menu--item-img
                  img src="img/01_book.svg"
                |Why Work with us
              a.nav__container_menu--item href="opp.html"
                .nav__container_menu--item-img
                  img src="img/01_book.svg"
                |Current Opportunities
        .nav__container
          a.nav__item href="javascript:void(0);"
            |News & Events
          .nav__container_menu--wrapper
            .nav__container_menu
              a.nav__container_menu--item href="news.html"
                .nav__container_menu--item-img
                  img src="img/01_book.svg"
                |News
              a.nav__container_menu--item href="events.html"
                .nav__container_menu--item-img
                  img src="img/01_star.svg"
                |Events
        .nav__container
          a.nav__item href="contact.html"
            |Contacts

    .header__wrapper_container
      .header__search

  .header__nav_mobile
    nav.nav
      .nav__container
        p.nav__item
          |Products
        .nav__container_mobile_menu--wrapper
          a.nav__container_menu--item href=""
            |Solutions
          a.nav__container_menu--item href=""
            |Product Care
          a.nav__container_menu--item href=""
            |Custom Design
      .nav__container
        .nav__item
          |Technology
        .nav__container_mobile_menu--wrapper
          a.nav__container_menu--item href=""
            |QSorter Technology
          a.nav__container_menu--item href=""
            |QSorter Explorer
          a.nav__container_menu--item href=""
            |QSorter Horizon
      .nav__container
        p.nav__item
          |Company
        .nav__container_mobile_menu--wrapper
          a.nav__container_menu--item href=""
            |About Us
          a.nav__container_menu--item href=""
            |Team
          a.nav__container_menu--item href=""
            |Awards
          a.nav__container_menu--item href=""
            |Partners
      .nav__container
        p.nav__item
          |Career
        .nav__container_mobile_menu--wrapper
          a.nav__container_menu--item href=""
            |Why Work with us
          a.nav__container_menu--item href=""
            |Current Opportunities
      .nav__container
        p.nav__item
          |News & Events
        .nav__container_mobile_menu--wrapper
          a.nav__container_menu--item href=""
            |News
          a.nav__container_menu--item href=""
            |Events
      .nav__container
        a.nav__item href=""
          |Contacts
      .lang
        .lang__item
          |EN
