.events__page
    .events__page_wrapper.wrapper
        .news__date_wrapper
            .awards__date
                .events__date_titles
                    .awards__date_title.awards__date_title--act
                        |Current Events
                    .awards__date_title
                        |Upcoming Events
                .awards__date_items
                    .awards__date_item
                        |2019
                    .awards__date_item.awards__date_item--act
                        |2018
                    .awards__date_item
                        |2017

        .event__page_items
            .event__page_item
                .event__page_item--inner
                    .event__page_item--inner-img
                        img src="img/news__item_bg.png"
                    .event__page_item--inner-desc
                        .event__page_item--inner-desc--date
                            |21.21.1212
                        .event__page_item--inner-desc--title
                            |The best QSorter Technology 2018 year Technology 2018 year Technology 2018 year
            .event__page_item
                .event__page_item--inner
                    .event__page_item--inner-img
                        img src="img/news__item_bg.png"
                    .event__page_item--inner-desc
                        .event__page_item--inner-desc--date
                            |21.21.1212
                        .event__page_item--inner-desc--title
                            |The best QSorter Technology 2018 year Technology 2018 year Technology 2018 year
            .event__page_item
                .event__page_item--inner
                    .event__page_item--inner-img
                        img src="img/news__item_bg.png"
                    .event__page_item--inner-desc
                        .event__page_item--inner-desc--date
                            |21.21.1212
                        .event__page_item--inner-desc--title
                            |The best QSorter Technology 2018 year Technology 2018 year Technology 2018 year
                
        .awards__pg
            .awards__pg_prev
            .awards__pg_item
                |1
            .awards__pg_item
                |2
            .awards__pg_item
                |3
            .awards__pg_item.awards__pg_item--act
                |4
            .awards__pg_item
                |5
            .awards__pg_next

