.partners__items_wrapper
  @media (max-width: 920px)
    padding: 30px 10px 40px

.partners__item_container
  @media (max-width: 1170px)
    padding: 20px
    .partners__item_name
      text-align: center
  @media (max-width: 760px)
    .partners__item_name
      font-size: 16px
  @media (max-width: 560px)
    &:hover
      top: 0

.partners__item
  @media (max-width: 920px)
    width: 50%
  @media (max-width: 760px)
    padding: 0 5px
    margin-bottom: 10px
  @media (max-width: 560px)
    width: 100%
    height: auto

.partners__item_logo
  @media (max-width: 840px)
    img
      height: 50px

.page__follow
  @media (max-width: 880px)
    background-position: 70% 0

.page__follow_links
  @media (max-width: 1170px)
    margin-left: 40px
  @media (max-width: 920px)
    margin-left: 20px
  @media (max-width: 880px)
    margin: -1px
    flex-wrap: wrap
    .page__follow_link
      margin: 1px
  @media (max-width: 640px)
    width: 100%
    .page__follow_link
      width: calc(50% - 2px)

.page__follow_wrapper
  @media (max-width: 1170px)
    padding: 0 10px
    .title__w-r
      font-size: 40px
  @media (max-width: 880px)
    flex-wrap: wrap
    height: auto
    padding: 45px 10px 50px
    justify-content: flex-start
    .title__w-r
      width: 100%
      margin-bottom: 30px
