.products__content
    background-image: url(img/products__content_bg.png)
    background-size: cover
    background-repeat: no-repeat
    
.products__content_wrapper
    display: flex
    padding: 0px 0px 80px 0px

.products__sidebar_inner
    background: #fff
    max-width: 210px
    width: 100%
    border: 1px solid #e0e0e0
    display: flex
    flex-direction: column
    align-items: flex-start
    padding: 18px 24px 0px 24px

.products__categories
    max-width: 960px
    width: 100%

.sidebar__category_item
    display: flex
    flex-direction: column
    align-items: flex-start
    margin-bottom: 18px

.sidebar__category_item--posts
    display: flex
    flex-direction: column
    align-items: flex-start
    margin: 25px 0px 7px 14px
    position: relative
    &:before
        content: ''
        display: block
        position: absolute
        height: 100%
        width: 2px
        background: #e0e0e0
        left: 0px
    
.sidebar__category_item--post
    margin-left: 14px
    margin-bottom: 15px
    font-family: $sofiaPro
    font-weight: 400
    color: #a7a7a6
    font-size: 14px
    &:last-child
        margin-bottom: 0px

.sidebar__category_item--name
    font-family: $sofiaPro
    font-weight: 400
    color: #a7a7a6
    font-size: 14px
    &-act
        color: $red

.products__categories
    display: flex
    flex-direction: column
    padding: 45px 20px 0px 40px

.products__categories_items
    width: 100%
    display: flex
    flex-wrap: wrap

.products__categories_item
    width: 25%
    padding-right: 25px
    height: 155px
    margin-bottom: 6px

.products__categories_item--container
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    align-items: flex-start

.products__categories_item--img
    height: 105px
    width: 100%
    position: relative
    overflow: hidden
    display: flex
    align-items: center
    justify-content: center
    margin-bottom: 10px
    img
        width: 100%
        height: auto
        position: absolute
        right: 50%
        top: 50%
        transform: translate(50%, -50%)

.products__categories_item--title
    font-family: $sofiaPro
    font-weight: 600
    color: #5e5e5c
    font-size: 18px

.products__categories_title
    margin-bottom: 30px

.page__bar
    display: flex
    height: 60px
    display: flex
    align-items: center

.page__bar_reserv
    display: flex
    flex-direction: row-reverse
    .page__bar_item-r
        padding: 0px 65px 0px 0px
        justify-content: flex-end
        display: flex
        &:before
            left: -100%

.page__bar_white
    .page__bar_item-r
        background: $white
        &:before
            background: $white
    .page__bar_item-r--content__subtitle
        color: #5e5e5c
        &:before
            background: $red
        &:after
            border: solid 1px $red
            background: #f4f4f5

    .page__bar_item-l
        padding: 0px 0px 0px 65px

.page__bar_grey
    .page__bar_item-r
        background: #f4f4f5
        &:before
            background: #f4f4f5
    .page__bar_item-r--content__subtitle
        color: #5e5e5c
        &:before
            background: $red
        &:after
            border: solid 1px $red
            background: #f4f4f5

.page__bar_red
    .page__bar_item-r
        background: $red
        &:before
            background: $red
    .page__bar_item-r--content__subtitle
        color: $white
        &:before
            background: $white
        &:after
            border: solid 1px $white
            background: $red

.page__bar_item-l
    width: 50%
    display: flex
    justify-content: flex-end

.page__bar_item-r
    height: 100%
    padding: 0px 0px 0px 65px
    display: flex
    align-items: center
    position: relative
    width: 50%
    // &:before
    //     content: ''
    //     display: block
    //     position: absolute
    //     width: 1170px
    //     height: 60px        
    //     bottom: -100%
    //     z-index: 1
    //     left: 0px

.page__bar_item-r--content__subtitle
    position: relative
    font-family: $sofiaPro
    font-weight: 600
    z-index: 1
    display: flex
    align-items: center
    &:before
        content: ''
        margin-right: 20px
        display: block
        width: 65px
        height: 1px
    &:after
        position: absolute
        content: ''
        left: 0px
        top: 6px
        display: block
        width: 5px
        height: 5px
        border-radius: 50%

.video__popup_wrapper
    z-index: 2
    position: relative
    .close__btn
        position: absolute
        top: 20px
        right: 20px 