.partners__items
    .partners__items_wrapper.wrapper
        .partners__item
            .partners__item_container
                .partners__item_bg
                .partners__item_logo
                    img src="img/index__partner.png"
                .partners__item_name
                    |U.S. Department of Agriculture
                a.partners__item_url href="https://www.usda.gov/"
                    |https://www.usda.gov/
                .partners__item_desc
                    |USDA develops science and technology to rapidly measure grain traits; improve grain storage and handling systems; and minimize wind erosion through studying physical processes and developing predictive models and erosion control systems.
        .partners__item
            .partners__item_container
                .partners__item_bg
                .partners__item_logo
                    img src="img/index__partner.png"
                .partners__item_name
                    |U.S. Department of Agriculture
                a.partners__item_url href="https://www.usda.gov/"
                    |https://www.usda.gov/
                .partners__item_desc
                    |USDA develops science and technology to rapidly measure grain traits; improve grain storage and handling systems; and minimize wind erosion through studying physical processes and developing predictive models and erosion control systems.
        .partners__item
            .partners__item_container
                .partners__item_bg
                .partners__item_logo
                    img src="img/index__partner.png"
                .partners__item_name
                    |U.S. Department of Agriculture
                a.partners__item_url href="https://www.usda.gov/"
                    |https://www.usda.gov/
                .partners__item_desc
                    |USDA develops science and technology to rapidly measure grain traits; improve grain storage and handling systems; and minimize wind erosion through studying physical processes and developing predictive models and erosion control systems.
        .partners__item
            .partners__item_container
                .partners__item_bg
                .partners__item_logo
                    img src="img/index__partner.png"
                .partners__item_name
                    |U.S. Department of Agriculture
                a.partners__item_url href="https://www.usda.gov/"
                    |https://www.usda.gov/
                .partners__item_desc
                    |USDA develops science and technology to rapidly measure grain traits; improve grain storage and handling systems; and minimize wind erosion through studying physical processes and developing predictive models and erosion control systems.
        .partners__item
            .partners__item_container
                .partners__item_bg
                .partners__item_logo
                    img src="img/index__partner.png"
                .partners__item_name
                    |U.S. Department of Agriculture
                a.partners__item_url href="https://www.usda.gov/"
                    |https://www.usda.gov/
                .partners__item_desc
                    |USDA develops science and technology to rapidly measure grain traits; improve grain storage and handling systems; and minimize wind erosion through studying physical processes and developing predictive models and erosion control systems.
        .partners__item
            .partners__item_container
                .partners__item_bg
                .partners__item_logo
                    img src="img/index__partner.png"
                .partners__item_name
                    |U.S. Department of Agriculture
                a.partners__item_url href="https://www.usda.gov/"
                    |https://www.usda.gov/
                .partners__item_desc
                    |USDA develops science and technology to rapidly measure grain traits; improve grain storage and handling systems; and minimize wind erosion through studying physical processes and developing predictive models and erosion control systems.
        .partners__item
            .partners__item_container
                .partners__item_bg
                .partners__item_logo
                    img src="img/index__partner.png"
                .partners__item_name
                    |U.S. Department of Agriculture
                a.partners__item_url href="https://www.usda.gov/"
                    |https://www.usda.gov/
                .partners__item_desc
                    |USDA develops science and technology to rapidly measure grain traits; improve grain storage and handling systems; and minimize wind erosion through studying physical processes and developing predictive models and erosion control systems.
        .partners__item
            .partners__item_container
                .partners__item_bg
                .partners__item_logo
                    img src="img/index__partner.png"
                .partners__item_name
                    |U.S. Department of Agriculture
                a.partners__item_url href="https://www.usda.gov/"
                    |https://www.usda.gov/
                .partners__item_desc
                    |USDA develops science and technology to rapidly measure grain traits; improve grain storage and handling systems; and minimize wind erosion through studying physical processes and developing predictive models and erosion control systems.
        .partners__item
            .partners__item_container
                .partners__item_bg
                .partners__item_logo
                    img src="img/index__partner.png"
                .partners__item_name
                    |U.S. Department of Agriculture
                a.partners__item_url href="https://www.usda.gov/"
                    |https://www.usda.gov/
                .partners__item_desc
                    |USDA develops science and technology to rapidly measure grain traits; improve grain storage and handling systems; and minimize wind erosion through studying physical processes and developing predictive models and erosion control systems.

.page__follow
    .page__follow_wrapper.wrapper
        .title__w-r
            |<span>Follow Us</span><br><span>on Social</span>
        .page__follow_links
            a.page__follow_link.page__follow_link--f href="https://www.facebook.com/qualysensesorters"
                |Facebook
            a.page__follow_link.page__follow_link--t href="https://twitter.com/QualySense"
                |Twitter
            a.page__follow_link.page__follow_link--l href="https://www.linkedin.com/company/qualysense-ag/"
                |Linkedin
