.contact__title
    .title__dg-g
        |<span>Contact Us</span>
.contact__page
    .contact__page_wrapper.wrapper
        .contacts
            .contacts__item
                .contacts__item_container
                    .contacts__item_container--subtitle
                        |Address
                    .contacts__item_container--title
                        |QualySense AG Unterrietstrasse 2A CH-8152 Glattbrugg Switzerland
                    .about__commit_contacts
                        .about__commit_contact
                            a.about__commit_contact--link href="sales@qualysense.com"
                                |sales@qualysense.com
                            .about__commit_contact--text.about__commit_contact--text-email
                                |Email address
                        .about__commit_contact
                            a.about__commit_contact--link href="sales@qualysense.com"
                                |+41 (0) 44 824 35 84
                            .about__commit_contact--text.about__commit_contact--text-phone
                                |Phone number
            .contacts__item
                .contacts__item_container
                    .contacts__item_container--subtitle
                        |Address
                    .contacts__item_container--title
                        |QualySense AG Unterrietstrasse 2A CH-8152 Glattbrugg Switzerland
                    .about__commit_contacts
                        .about__commit_contact
                            a.about__commit_contact--link href="sales@qualysense.com"
                                |sales@qualysense.com
                            .about__commit_contact--text.about__commit_contact--text-email
                                |Email address
                        .about__commit_contact
                            a.about__commit_contact--link href="sales@qualysense.com"
                                |+41 (0) 44 824 35 84
                            .about__commit_contact--text.about__commit_contact--text-phone
                                |Phone number
