.contact__form
    .contact__form_wrapper.wrapper
        .contact__form_innder
            .contact__form_innder--container
                form.index__form_inner
                    .title.title__dg-g
                        |<span>Please Use</span><br><span>the Contact Form</span>
                    .input__wrapper
                        .input__wrapper_title
                            |First name
                        input.input__container name="name" placeholder="First name*"
                    .input__wrapper
                        .input__wrapper_title
                            |Last name
                        input.input__container name="lastname" placeholder="Last name*"
                    .input__wrapper
                        .input__wrapper_title
                            |Your phone number
                        input.input__container.input__container_phone name="phone" placeholder="Your phone number*"
                    .input__wrapper
                        .input__wrapper_title
                            |Your email
                        input.input__container name="email" placeholder="Your email*"
                    .input__wrapper
                        .input__wrapper_title   
                            |Message 
                        textarea.input__container_textarea placeholder="Your message*"
                    .input__submit
                        input type="submit" value="Send Message"

                .contact__form_innder--map
                    iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2698.740785021311!2d8.562109053928534!3d47.43649761396825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479aa1a651a6c363%3A0xda1a237f497e4408!2sQualySense+AG!5e0!3m2!1sru!2sua!4v1557166120003!5m2!1sru!2sua" frameborder="0" style="border:0" allowfullscreen=""

                