.about__timeline
    .page__bar
        height: 50px
        @media (max-width: 920px)
            .page__bar_item-l
                width: 0
                padding: 0
            .page__bar_item-r
                width: 100%
                padding: 0 20px
                justify-content: flex-start

.timeline
    @media (max-width: 920px)
        margin: 30px 0 45px

.about__timeline_wrapper
    @media (max-width: 1170px)
        padding: 95px 10px 170px
    @media (max-width: 920px)
        padding: 0 10px 0

.timeline__table
    @media (max-width: 1170px)
        width: 100%
        height: auto

.timeline__table
    @media (max-width: 1170px)
        &_top
            bottom: 210px
            top: auto
        &_bottom
            top: 210px
            bottom: auto

