.about__commit
    @media (max-width: 780px)
        background-size: 220%
        background-position: 70% bottom


.page__head
    @media (max-width: 1170px)
        padding: 0 10px
    @media (max-width: 920px)
        background-position: center

.title__w-g
    @media (max-width: 920px)
        font-size: 40px

.about__commit_wrapper
    @media (max-width: 920px)
        padding: 30px 10px 50px
        flex-wrap: wrap

.about__commit_desc
    @media (max-width: 1120px)
        width: 50%
    @media (max-width: 780px)
        width: 100%

.about__img
    @media (max-width: 1120px)
        width: 50%
    @media (max-width: 780px)
        width: 100%
        left: -10%
        height: auto
        position: relative
        margin: 30px 0 0
        img
            height: auto
            width: 140%

.about__commit_contacts
    @media (max-width: 780px)
        margin: 20px 0 0
        justify-content: flex-start
    @media (max-width: 420px)
        flex-wrap: wrap

.about__commit_contact
    @media (max-width: 780px)
        &--separator
            margin: 0 20px
    @media (max-width: 420px)
        min-width: 100%
        &--separator
            width: 45px
            height: 1px
            margin: 15px 0

.about__commit_wrapper .page__text
    @media (max-width: 780px)
        margin-top: 15px
        & p
            margin: 0 0 20px

.title__dg-g
    @media (max-width: 920px)
        font-size: 40px

.about__commit_img
    @media (max-width: 1060px)
        right: -160px
    @media (max-width: 920px)
        position: relative

.about__commit_img
    @media (max-width: 920px)
        height: 420px

//.about__commit_contacts
//    @media (max-width: 920px)
//        flex-wrap: wrap
//        margin: 0

//.about__commit_contact
//    position: relative
//    @media (max-width: 920px)
//        margin: 15px 0
//        &:after
//            position: absolute
//            content: ''
//            height: 1px
//            width: 45px
//            bottom: -15px
//            background: $gray
//        &:last-child:after
//            display: none

.page__text
    @media (max-width: 920px)
        font-size: 14px
