.technology__possible
    .technology__possible_wrapper.wrapper
        .title__dg-g
            |<span>Possible </span><br><span>Applications</span>
        .technology__possible_items
            .technology__possible_item
                .technology__possible_item--title
                    |Wheat grading
                .technology__possible_item--info
                    .technology__possible_item--info-item
                        |Broken kernels
                    .technology__possible_item--info-item
                        |Insect damage
                    .technology__possible_item--info-item
                        |Grain and other impurities
                    .technology__possible_item--info-item
                        |Shrivelled
                    .technology__possible_item--info-item
                        |Vitreousness in durum wheat
                    .technology__possible_item--info-item
                        |Other physical traits
                    .technology__possible_item--info-item
                        |Protein content

            .technology__possible_item
                .technology__possible_item--title
                    |Wheat grading <a href="">Read more</a>
                .technology__possible_item--info
                    .technology__possible_item--info-item
                        |Broken kernels
                    .technology__possible_item--info-item
                        |Insect damage
                    .technology__possible_item--info-item
                        |Grain and other impurities
                    .technology__possible_item--info-item
                        |Shrivelled
                    .technology__possible_item--info-item
                        |Vitreousness in durum wheat
                    .technology__possible_item--info-item
                        |Other physical traits
                    .technology__possible_item--info-item
                        |Protein content

        .technology__possible_items
            .technology__possible_item
                .technology__possible_item--title
                    |Wheat grading








