.page__head_wrapper
  @media (max-width: 920px)
    padding: 120px 0 60px
    height: auto

.products__categories
  @media (max-width: 920px)
    padding: 30px 10px 50px

.products__categories_item--title
  @media (max-width: 1024px)
    font-size: 14px

.products__categories_title
  @media (max-width: 920px)
    font-size: 40px

.products__sidebar
  @media (max-width: 920px)
    display: none

.products__categories_item--img
  @media (max-width: 1170px)
    height: auto
    &:before
      content: ''
      padding-top: 53%
      width: 100%

.products__categories_item
  @media (max-width: 920px)
    padding-right: 10px
    height: auto
  @media (max-width: 640px)
    width: 50%
    margin-bottom: 20px

.products__content_wrapper
  @media (max-width: 920px)
    padding: 0

.products__content .page__bar
  @media (max-width: 920px)
    height: 50px
