.news
    .page__head_products
        background-image: url(img/news__header_bg.png)

.news__date_wrapper
    padding: 0px 15px
    width: 100%

.news__page_wrapper
    display: flex
    flex-direction: column
    align-items: center
    padding: 80px 0px
    .index__news_items
        width: 1170px
        left: 0px
        flex-wrap: wrap
        display: flex
        margin-bottom: 0px
        .index__news_item
            margin-bottom: 30px
    .awards__pg
        margin: 20px auto 15px
    .awards__date
        margin: 0px 0px 25px 0px
    .awards__date_title
        &:before
            font-size: 20px